<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7" style="margin-left:-10%;">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication</h3>
<hr>

<h3 style="background-color:gray;color:white;text-align:center;">Department Advisory Board</h3>
<h3 style="background-color:gray;color:white;text-align:center;">DAB Committe</h3>



<table class="table table-striped table-hover" style="margin-top:-2%;">
<thead class="jumbotron" style="background-color:grey;">
<tr class="active">
<th><strong>Sr.No.</strong></th>
<th><strong>Name of the Committe  Member</strong></th>
<th><strong>Details</strong></th>
<th><strong>Role</strong></th>
</tr>
</thead>    

<tbody>

<tr >
        <td>1</td>
        <td>Dr. Y. H. Dandawate</td>
        <td>Head E&TC</td>
        <td>Chairman</td> 
      </tr>
      


<tr>
        <td>2</td>
        <td>Dr. S. S. Chinchanikar</td>
        <td>Dean Academics</td>
        <td>Member</td> 
      </tr>
      


<tr >
        <td>3</td>
        <td>Dr. Mrs. Vaishali A.Patil</td>
        <td>Head E&AS</td>
        <td>Member</td> 
      </tr>
      

<tr>
        <td>4</td>
        <td>Mr. A. V. Chitre</td>
        <td>Academic Co-ordinator</td>
        <td>Member</td> 
      </tr>
      


<tr >
        <td>5</td>
        <td> Mr. K. J. Raut</td>
        <td> PG Co-ordinator</td>
        <td>Member</td> 
      </tr>
      



<tr>
        <td>6</td>
        <td> 	

Dr. D. S. Bormane</td>
        <td>University Representative (BOS Chairman)</td>
        <td>Member</td> 
      </tr>
      



<tr >
        <td>7</td>
        <td>Mr. Vinaykumar Achwal</td>
        <td> Industry Representative</td>
        <td>Member</td> 
      </tr>
      



<tr>
        <td>8</td>
        <td> 	

Mr. H. V. Kamat</td>
        <td>Industry Representative</td>
        <td>Member</td> 
      </tr>
      



<tr >
        <td>9</td>
        <td> 	

Mrs. Sanjeevani Vishwasrao</td>
        <td>Parent Representative</td>
        <td>Member</td> 
      </tr>
      



<tr>
        <td>10</td>
        <td> 	

Col.Haridas</td>
        <td>Parent Representative</td>
        <td>Member</td> 
      </tr>
      



<tr >
        <td>11</td>
        <td> 	

Mr. Gaurav Kulkarni</td>
        <td>Alumni Representative</td>
        <td>Member</td> 
      </tr>
      


<tr>
        <td>12</td>
        <td> 	

Mr. Shreeharsh Datar</td>
        <td>Alumni Representative</td>
        <td>Member</td> 
      </tr>
      


<tr >
        <td>13</td>
        <td> 	

Mr. Nittin Ghute</td>
        <td>Alumni Representative</td>
        <td>Member</td> 
      </tr>
      


<tr>
        <td>14</td>
        <td> 	

Mr. Gaurav Chandak</td>
        <td>Alumni Representative</td>
        <td>Member</td> 
      </tr>
      






</tbody>
</table>
</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
	<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>


</div>










</div>
</div>
</div>

</body>

</html>