<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>







<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7" style="margin-left:-10%;">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h3>
<hr>
<div class="thumbnail">
  <div class="caption">
<p style="color:red;"><strong>One week STTP on Design, Testing, Performance Evaluation & Applications of Microwave Antennae 2016</strong></p>
</div> 


  <img style="margin-bottom=20px;"  src="C:\Users\user\Documents\viit website\images\entc1.jpg" width="400" height="400">

 <img style="margin-bottom=20px;"  src="C:\Users\user\Documents\viit website\images\entc2.jpg" width="400" height="400">

</div>

<hr>
<p>Vishwakarma Institute of Information Technology (VIIT) is considered to be the best in top engineering institutes in Pune. VIIT is recognized as a premier institute amongst top engineering colleges in Pune or top engineering colleges in Pune placement wise by parents, students and industries. 
   <br>


VIIT is also rated as no 1 engineering college in Pune for overall student development.<br>

Department of Electronics and Telecommunication of VIIT runs following programs- 
<ul>
<li>Bachelor of Electronics and Telecommunication Engineering (B.E. E&TC)</li>
<li>Master of Electronics and Telecommunication Engineering (M.E. E&TC in Signal Processing),</li>
<li>PhD program in Electronics and Telecommunication Engineering (PhD E&TC).</li>
</ul>

<br>
    .

Academic results with TEN University Rankers in last 12 years and good placement records stand testimony of our solid bedrock reputation of the "Best Telecommunication Engineering Course in Pune" in the "Best Engineering College in Pune University". 
<br><strong>
<br>Vision: Excellence in Electronics and Communication Engineering Education.</strong><br>
<strong>Mission :<br>
<ul>
<li>Provide excellent blend of theory and practical knowledge.</li>
<li>Establish centre of excellence in post graduate studies and research.</li>
<li>Prepare engineering professionals with highest ethical values and a sense of responsible citizenship.</li>
</ul></strong><br>
The vision of the institute articulated through the mission statement is accomplished through the defined PEOs. The educational objectives of a programme are the statements that describe the expected achievements of graduates within first few years of their graduation from the programme. The programme objectives are guided by global and local needs, vision of the institution, long term goals etc. The program objectives are expected to continuously evolve in agreement with local employers, industry, R & D advisors, and the alumni. Following PEOs have been defined. 
<br><br>
<strong> Program Educational Objectives: Graduate of the program will</strong>
<ul>
<li>Become competent electronic engineers suitable for industry.</li>
<li>Apply the mathematical and analytical abilities gained through core courses of Electronics and Communication Engineering</li>
<li>Apply problem solving skills to develop hardware and/or software.</li>
<li>Become responsible citizen. </li>
</ul>
</p>


</div>

</div>
			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
	<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>


</div>
</div>
</div>
</div>



</div>
</div>
</body>
</html>
