<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="responsive">
<div class="row-md-4">

<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Green Laboratory-ISRO</strong></h3>
<img  src="C:\Users\user\Documents\viit website\images\isro.jpg"/ width="100%" style="margin-top:-1%;">
<br>
<br>
<br>

<p style="font-size:150%;">
Green lab is laboratory which is fully powered by Solar Energy. The laboratory is having 25 computers, 10 Tube lights, 8 Fans and network switch rack. The total power consumption of the laboratory is 3200 watts with full load on. All the loads run on solar energy. 12 solar panels of 260 watts each installed on the roof top of the laboratory supply the energy consumed. There are two battery sets of 12Volts/66 Amperes that support the system. The laboratory uses the inverter of the UPS system which was earlier powering the lab. A small micro grid of 3.2KW with two rows of solar panels and mains utility supply as energy sources, two sets of batteries as storage elements and a load. Presently the configuration is of a common DC bus with inverter driving AC loads. 
</p>

<img  src="C:\Users\user\Documents\viit website\images\isro1.jpg"/ width="100%" height="40%">
<br>
<p style="font-size:150%;">
The Green lab is joint collaborative efforts of VIIT, TIFR and ISRO UoP cell. The lab started drawing power from solar panels from December 2014 and up till now 658 KWH or electrical units have been utilized from solar. The lab will be further modified to a 48 volts DC bus operated lab. All the computers, Tube lights and Fans will be modified to operate on 48 volts DC increasing efficiency by @ 30 % and finally Solar, a Dc source will be driving a DC loads with maximum estimated efficiency of about 94%. 
</p>

<br>

<img  src="C:\Users\user\Documents\viit website\images\isro2.jpg"/ width="100%" height="40%">

</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>





</div>
</div>
</div>
</div>
</body>
</html>