<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">
<div class="row-md-4">


<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="text-align:center;margin-bottom:1%;"><strong><u>Laboratory</u></strong></h3>
<p>
<h4>The campus is connected i.e. all labs are connected to a centralized server and all buildings are connected through fiber optic cable. Hence in all building all labs are on LAN and have internet connectivity.</h4>

</p>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">1.Computer and Microprocessor Lab</h3>
<strong>Hardware:</strong>
<p>
Computer Dell Intel Core 2 Duo, 2.93 GHZ, 2 GB RAM - 22 nos., PIC Microcontroller-10 Nos, Embedded ARM Kits, LCD, Key Boards, ADC, DAC cards, Printer (EPSON LQ), 15 KVA*, 24 port D link switch.
</p>

<strong>Software:</strong>
<p>
Windows XP, Microsoft Office 2007, 8051 IDE, Triton, flash magic, TC, TC++, KEIL (10users), etc.
</p>

<img src="C:\Users\user\Documents\viit website\images\compmicrolab.jpg"/> 
<br>



<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">2.Computer and Digital Processing Lab</h3>
<strong>Hardware:</strong>
<p>
Computer Dell Intel Core 2 Duo, 2.93 GHZ, 2 GB RAM - 22 nos., Printer (EPSON LQ 1150 )- 02 nos., DSP Kits TMS6711 - 02 nos., DSP Kits TMS5416 - 02 nos., UPS 15 KVA*, 24 port D link switch - 02 nos., NISpeedy DSP Board - 01 no, NI LabVIEW Hardware Modules (36 nos.) 
</p>

<strong>Software:</strong>
<p>
Windows XP, Linux, Microsoft office 2007, MATLAB 2008b, TC, TC++, LABview (5 Users) *UPS shared with Computer and Microprocessor Lab.
</p>

<img src="C:\Users\user\Documents\viit website\images\compdigitallab.jpg"/> 

<br>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">3. Communication lab : Being modernized under Central Government Grant “MODROBS”</h3>
<strong>Hardware:</strong>
<p>
Synthesized signal generator ( 10KHz – 1050 KHz), Spectrum Analyzer with Tracking generator ( 1 GHz), Digital Storage Oscilloscope 10 nos, Antenna Trainer, WDM kits-NWS-WDM 1310/1550, Vector Network Analyzer.</p>

<strong>Software:</strong>
<p>
Nil
</p>

<img src="C:\Users\user\Documents\viit website\images\communicationlab.jpg"/> 


<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">4.VLSI Lab</h3>
<strong>Hardware:</strong>
<p>
 HP Compaq 6200 Pro SFF PC Intel Core i3, 2100 processor, 4 GB RAM, 500GB HDD (20 nos.), Xilinx CPLD dedicated trainers XC 9572PC84, Xilinx FPGA dedicated trainers XC 2550-TQ144, Xilinx CPLD module XC 95108-PLCC84, Xilinx FPGA module XC V 100E – PQ 24CX, Cypress CPLD Module CY 37064V PC 84, UPS 15 KVA, ACTEL Evaluation board EPA 300, Vertex -4 development board with device XC4VKK-LX 25, Nexysys 4 Artix 7 FPGA Board (4 nos.).
<br><strong>Software:</strong>
<p>
 ACTIVE HDL plus VHDL , ACTEL libero gold, Xillinx logic edition version 15 (25 users)
</p>

<img src="C:\Users\user\Documents\viit website\images\vlsilab.jpg"/> 



<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">5.Research Laboratory</h3>
<strong>Hardware:</strong>
<p>
  Digital storage Oscilloscope-Agilent 1 GHz Dual channel, MSO 100 MHz (2 + 16 channel)- Aplab, 6 ½ DMM – Agilent, 20 MHz Arbitrary wave function generator- Agilent, Universal Programmer, 1.3 GHz frequency counter,LCR Q meter, Computers Intel PIV 3 GHz 5 nos., NI Elvis II + board no -01, MSO 1 Gs/s - 100 Mhz ( 4 + 16 channel). <br>
</p>

<br><strong>Software:</strong>
<p>
 Multisim educational version 8.0, SPICE simulation software, Multi VHDL, Multi MCV.
Unified Nexov / Protel, NI LABview (6 Users), Proteus 8.0.  
</p>
<img src="C:\Users\user\Documents\viit website\images\researchlab.jpg"/> 


<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">6.Power Lab</h3>
<strong>Hardware:</strong>
<p>
4 channel DSO 200 MHz, 20 MHz Dual trace power scope 6 nos, Power electronics Kits, 6 and half DMM, 4 channel DSO 100 Mhz, etc.
</p>

<br><strong>Software:</strong>
<p>
Nil</p>
<img src="C:\Users\user\Documents\viit website\images\powerlab.jpg"/> 



<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">7.Digital Electronics Lab</h3>
<strong>Hardware:</strong>
<p>
Digital Tester, testing of microcontroller, serial interface with IBM PC, EPROM and EEPROM Programmer, Single chip microcontroller programmer, U.V. EPROM Eraser, Digital Trainers kits, function pulse generator, CRO Aplab 6 nos., function generator Aplab, etc.
</p>

<br><strong>Software:</strong>
<p>
Nil</p>
<img src="C:\Users\user\Documents\viit website\images\digitalelectronicslab.jpg"/> 




<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">8.Mechatronics Lab</h3>
<strong>Hardware:</strong>
<p>
Computer Dell Intel Core 2 Duo, 2.93 GHZ, 2 GB RAM - 10 nos, HP Compaq 6200 Pro SFF PC Intel Core i3, 2100 processor, 4 GB RAM, 500GB HDD – 15 Nos.Microwave Kits, Amtech Make Satellite communication trainer, Parabolic antenna with dipole feed, PLC panel with AB PIC with 24D10, Bottle filling process, lift simulator, Electro pneumatic trainer with air compression, PID controller, Temperature process control trainer, Synchros transmitter and receiver, Lead lag control system, DC position control system, DC motor speed control setup, LVDT sensor kit. Pressure Sensor, Temperature Sensor *C, Strain Gauge Sensor, Tilt Sensor, Current Sensor, Ultrasonic Distance Sensor, Piezo Vibration Sensor, Force Sensitive Resistor Sensor, Photo Distance Sensor, PIR Motion Detector Sensor, Hall Effect Sensor, Infrared Proximity Sensor, Ph Electrode Sensor, Temperature Sensor (PT 100), 3 Axis Accelerometer Sensor, Gyro Sensor, Load Sensor, Light Color Sensor, Light Intensity Sensor, Respiration Sensor, Ultrasound Sensor 8MHz, Conductivity Electrode Sensor, Temperature Sensor (K Type), 6 Channel Data Acquisition System (USB interface) - 2 users,UPS 5 KVA 
</p>

<br><strong>Software:</strong>
<p>
Nil</p>
<img src="C:\Users\user\Documents\viit website\images\mechatronixlab.jpg"/> 


<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">9.Electronic Devices and Circuits Lab</h3>
<strong>Hardware:</strong>
<p>
Computer P4 3GHZ – 10 nos., CRO Scientech 20 MHz – 06 nos., CRO Instech 20 MHz – 02 nos, Function generator 2 MHz, -06 nos., linear cum digital IC tester, etc
</p>

<br><strong>Software:</strong>
<p>
Matlab 2007b, Multisim, Office 2007, C 
</p>
<img src="C:\Users\user\Documents\viit website\images\elecdevicesncircuitslab.jpg"/> 





<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">10.PG Laboratory</h3>
<strong>Hardware:</strong>
<p>
HP Compaq 6200 Pro SFF PC Intel Core i3, 2100 processor, 4 GB RAM, 500GB HDD no – 20 nos. 24 Port Switch-D-Link - 02 nos., 7.5 KVA True On Line Pure Sine Wave UPs System with single phase input & single phase output.12V-26AH, Sealed Maintainance Free Batteries for 20 minutes battery Backup-01 ,etc.
</p>

<br><strong>Software:</strong>
<p>
 Windows XP,Microsoft Office 2007, Multisim, TC, LABview - 5 users, Matlab (10 users), Image processing toolbox (10 users), Computer vision system toolbox (10users), Fuzzy logic toolbox (5 users), Wavelet toolbox (5 users), Matlab coder (1 user).
</p>
<img src="C:\Users\user\Documents\viit website\images\pglab.jpg"/> 




<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">11.Biomedical Lab</h3>
<strong>Hardware:</strong>
<p>
Phonocardiograph, Pulse oxymeter, ECG Kit, EEG Kit, ECG-12 Lead, Stethoscope, Blood Pressure Monitor, Pacemaker, Desktop HCL Busybee Core 2 Duo E6400 2.4GHz, 2GB RAM, 320 GB HDD,Sata,Wi-Fi Card, 10 nos.,Pressure Sensor, Temperature Sensor *C, Strain Gauge Sensor, Tilt Sensor, Current Sensor, Ultrasonic Distance Sensor, Piezo Vibration Sensor, Force Sensitive Resistor Sensor, Photo Distance Sensor, PIR Motion Detector Sensor, Hall Effect Sensor, Infrared Proximity Sensor, Ph Electrode Sensor, Temperature Sensor (PT 100), 3 Axis Accelerometer Sensor, Gyro Sensor, Load Sensor, Light Color Sensor, Light Intensity Sensor, Respiration Sensor, Ultrasound Sensor 8MHz, Conductivity Electrode Sensor, Temperature Sensor (K Type), 6 Channel Data Acquisition System (USB interface) - 2 users.
</p>

<br><strong>Software:</strong>
<p>
 Matlab 2007b, Multisim.
</p>
<img src="C:\Users\user\Documents\viit website\images\biomedicallab.jpg"/> 




<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">12.Analog Integrated Circuit Lab</h3>
<strong>Hardware:</strong>
<p>
 2MHz Function Generator - 03 nos.,5 MHz Function Generator with Counter - 03 nos., 30 MHz Dual Channel Oscilloscope - 07 nos.,etc. 
</p>

<br><strong>Software:</strong>
<p>
Nil</p>
<img src="C:\Users\user\Documents\viit website\images\analoglab.jpg"/> 





</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>








</div>
</div>
</div>
</div>
</body>
</html>