<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="responsive">
<div class="row-md-4">


<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>MODROBS(MODERNISATION & REMOVAL OF OBSOLESCENCE)</strong></h3>
<img  src="C:\Users\user\Documents\viit website\images\modrobs.jpg"/ width="100%" >
<br>
<br>
<br>
<p style="font-size:150%;">
The scheme aims to modernize and remove obsolescence in the Laboratories / Workshops/ Computing facilities (Libraries are excluded), so as to enhance the functional efficiency of Technical Institutions for Teaching, Training and experimenting purposes.
</p>

<p style="font-size:150%;">
It also supports new innovations in Class Room and Laboratory / Teaching Technology, development of Lab Instructional Material and appropriate Technology to ensure that the practical work and project work to be carried out by students is contemporary and suited to the needs of the Industry.
</p>

<p style="font-size:150%;">
The equipment financed under the scheme up to a limit of Rs 20 lakhs /- could be ideally used for up gradation of equipment in existing laboratories, enhancement of performance parameter specification of existing equipment, incorporation of latest development in the field and replacement of old depreciated equipment by modern equipment.
</p>

<p style="font-size:150%;">
In addition to above major objectives, the equipment installed through MODROBS can be used for indirect benefit to Faculty / Students through Continuing Education programmes, Training programmes for local industry and consultancy work.
</p>

<p style="font-size:150%;">
The Department of E&TC received the sum of Rs. 10,23,000/- in the year 2012-13. Equipments purchased under above grant:
</p>

<img  src="C:\Users\user\Documents\viit website\images\entc3.jpg"/ width="100%" height="40%">
<br><br>
<br>
<table class="table table-striped table-hover" style="margin-top:0%;font-size:150%;">


<thead style="background-color:grey;">
<th style="color:white;">Sr.No.</th>
<th style="color:white;text-align:center;">Item</th>
</thead>

<tbody>

<tr >
<td style="text-align:center">1</td>
<td style="text-align:center">CABLE & ANTENNA ANALYZER<br>
ZVH8  (8 Ghz)<br>
(ROHDE & SCHWARZ make)</td>
</tr>

<tr>
<td style="text-align:center">2</td>
<td style="text-align:center">CALIBRATION KIT<br>
Precision N(m) Open/Short/Load<br>
ZV-Z135  [3.5MM(F)]<br>
(ROHDE & SCHWARZ make)2</td>
</tr>

<tr >
<td style="text-align:center">3</td>
<td style="text-align:center">Application Kit for
Cable & Antenna Analyzer</td>
</tr>

</tbody>
</table>
<br><br>


<table class="table table-striped table-hover" style="margin-top:0%;font-size:150%;">
<thead style="background-color:grey;">
<th style="color:white;text-align:center;">Project Co-ordinator</th>
<th style="color:white;text-align:center;">Dr.P.D.Khandekar</th>
</thead>
<tbody>
<tr style="background-color:grey;color:white;s">
<td style="text-align:center;">Co-ordinator</td>
<td style="text-align:center;">Mrs. R. G. Purandare<br>
Mr. Kashyap Ramakrishnan </td>
</tr>
</tbody>

</table>
</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>

</div>
</div>
</div>
</div>
</body>
</html>