<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="responsive">
<div class="row-md-4">

<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<img src="C:\Users\user\Documents\viit website\images\ni_labview.jpg" width="100%" >

<p style="font-size:120%;">
VIIT-NI LabVIEW Academy is established in 2012 with seven clad certified trainer aspiring to enhance student’s skill and upgrade their hands on experience in this domains. Our department staff took lot of efforts to impart LabVIEW practices in academic curriculum.
</p>

<p style="font-size:120%;">
The NI LabVIEW (short for Laboratory Virtual Instrumentation Engineering Workbench) Academy is a tailored version of an internationally recognized curriculum created by National Instruments (NI) - one of the world’s leading providers of software and hardware for measurement and control. The first of its kind in Maharashtra, this program aim to bring industry and academia closer together.
</p>

<p style="font-size:120%;">
LabVIEW is powerful system design software built specifically for tasks performed by engineers and scientists. LabVIEW inspires you to solve problems, accelerates your productivity, and gives you the confidence to continually innovate. In close collaboration with industry, this innovative program has been designed to bridge the recognized gap between state-of the-art technology, academia and current industry requirements in the area of applied instrumentation. It will be suitable for all technological disciplines including mechanical, electrical and biomedical engineering
</p>

<img src="C:\Users\user\Documents\viit website\images\nilab2.jpg" width="45%">
<img src="C:\Users\user\Documents\viit website\images\nilab1.jpg"  width="45%">
<br>

<p><strong>VIIT-NI LabVIEW Setup:</strong>LabVIEW Laboratory is fully equipped with latest setup. </p>
<ul>
<li>Intel C2D based desktop computers: 22 No.</li>
<li>LabVIEW 2009 licenses software: Software</li>
<ul>
<li>USB based hardware: CDaq-9174</li>
<li>NI 9219, NI 9263, NI 9421, NI 9472</li>
<li>Speedy 33 DSP Boardsv</li>
<li>Elvis Board</li>
<li>Arduino Boards</li>
<li>Raspberry Pi Boards etc.</li>
</ul>
</ul>
<br>
<strong>Course Conducted:</strong><br>
<ul>
<li>In each semester academy conducts one or two “Forty Hours Hands on practice in LabVIEW” courses,</li>
<li>Organized STTP course. Academy trained more than 230 students and 34 staff from different colleges across Maharashtra,</li>
<li>Most of our faculties were invited as a guest lecturer in various engineering colleges,</li>
<li>Faculties also doing consultancy in different domain for well known organizations.</li>
</ul>

<br>
<strong>Activities Run By Academy:</strong><br>
<ul>
<li>Encourages students to publish their LabVIEW based research paper in reputed conferences and publications,</li>
<li>Assisting and successfully placed few of the trained students in various reputed industries. (Whirlpool, Jambhekar Automation, Bakers Gauges, Propix Technology), </li>
<li>Always in touch with the most of the LabVIEW expertise from different organization to update academy training curriculum,</li>
<li>Invites industry expert to share their experiences and knowledge with our students. </li>
</ul>

<br>
<strong>Inclusion of LabVIEW in Academic Curriculum:</strong>Different LabVIEW experiments included in academic curriculum:<br>
<ul>
<li>LabVIEW based Speech synthesis,</li>
<li>Process automation and data acquisition using LabVIEW based Arduino interface, </li>
<li>Simulating different modulating techniques using LabVIEW,</li>
<li>Simulating various digital circuits using LabVIEW,</li>
<li>To increase student understanding we introduce and demonstrated few learning examples using LabVIEW in following subject.</li>
<ul>
<li>Basic Electronics.</li>
<li>Digital system.</li>
<li>Communication Theory.</li>
<li>Integrated circuit and application.</li>
<li>Test and Measurement Techniques.</li>
<li>Digital Communication.</li>
<li>Data Communication.</li>
<li>Microcontrollers and applications.</li>
<li>Control System.</li>
<li>Digital Signal Processing.</li>
<li>Mini Projects.</li>
<li>Optical Fiber Communication.</li>
<li>Automotive electronics.</li>
<li>Image Processing.</li>

</ul>

</ul>

</div>








			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>





</div>
</div>
</div>
</div>
</body>
</html>