<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="responsive">
<div class="row-md-4">

<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>ROBOCON</strong></h3>
<br>
<p style="font-size:135%;">
ROBOCON, short for ROBOtic CONtest, is an interesting game cum intellectual exercise for budding engineers and their enthusiastic instructors determined to innovate and create machines for producing desired results. Participation in this activity is an end-to-end competitive yet fun experience from concept design for a system of robots programmed to perform according to the rules of the game played on a high precision technical contest area and to score a victory beating the opponent; all this according to the theme declared by the Host country. International Robocon is mainly sponsored by Asia Pacific Broadcasting Union (ABU) which includes Doordarshan of India as a member which has been organising all activities in India for last nine years with collaboration with MIT Group of Institutions, Pune, India.
</p>

<br>
<p style="font-size:135%;>
VIIT,Pune is also an active participant in this tech event. Initiated with the support of avid faculty members, VIIT has lot of students working and learning high tech skills on this international platform. The college management and all departments encourage students from all academic years to actively be a part of this tech team. This is highly recommended as this only adds to the knowledge, skills and passion of the students for robots and machines. At the start of every academic year, applications of interested students from diverse domains are called and an introductory session and meetings are held. The students are then asked to specify their area of interests and are gathered together. A Team is thus formed. All this process is carried out by the senior and experienced students in the guidance of Event Co-ordinator.
</p>


<br>
<p style="font-size:135%;>
Every year, students work on different themes specified by the Host country. Like, the theme for Robocon 2014 was “A Salute to Parenthood” and that of Robocon 2013 was “The Green Planet”. This year “Robominton” is the theme for the contest. Robocon provides an excellent opportunity for students to enhance their knowledge and make them acquainted with latest technologies. Robocon gives a feel of real life industrial problems and numerous ways to solve them. Students carry out the process of designing and creation of machines with utmost passion and dedication. Skills gained during Robocon prove to be useful at further walks of life. And this all is carried parallel to the academic progress. Thanks to Robocon, various recent technologies and devices like Arduino, mecanum wheels, etc. get introduced and explored. Students get a hands-on experience on numerous electronic and mechanical devices which is not possible during college sessions. Robocon has become an event to look forward to, for students as well as the faculty members who attempt to revive their college days of energy, fun and gusto.
</p>


<br>
<p style="font-size:135%;">
VIIT has thus become a prominent name on the slate of Robocon.
</p>

<img src="C:\Users\user\Documents\viit website\images\robocon1.jpg" height="60%" width="100%" alt="">

</div>



			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>













</div>
</div>
</div>
</div>
</body>
</html>