<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container">
<div class="responsive">
<div class="row-md-4">
<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">Scholarships and Awards</h3>
<br>
<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">Purandare Scholarships</h3>

<h4 style="color:red;"><strong>Introduction:</strong><h4>
<p>
The IET Mumbai Network has offered a sum of Rs. 85000/- in the memory of Late Shri. D. N. Purandare to VIIT Students. The amount to be invested in fixed deposit and the yearly interest earned Rs. 7000/- is awarded every year.
</p>

<h4 style="color:red;"><strong>Details of Awards:</strong><h4>
<p>
The Scholarship is awarded during the event NCSEEE-2015 (National Conference for Students In Electrical and Electronics Engineering), IEEE Students’ Branch started an annual conference in the form of ‘National Conference for Students in Electrical and Electronics Engineering’ NCSEEE. The aim behind starting such a conference was to provide a stage for undergraduate students to portray their own work and provide a platform for sharing their knowledge and innovative ideas.
</p>

<h4 style="color:red;"><strong>Criteria:</strong><h4>
<p>
The award is offered to the topper of First Year Post Graduate Electronics and Telecommunication (E&TC) student.The beneficiaries are : 
<table class="table table-striped table-hover" style="margin-top:-1%;">


<thead style="background-color:grey;">
<th style="color:white;">Sr.No.</th>
<th style="color:white;">Name of the Student</th>
<th style="color:white;">Academic Year</th>
</thead>

<tbody>

</tbody>

<tr>
<td>1</td>
<td>Mr.Pankaj Rakshe</td>
<td>2013-14</td>
</tr>

<tr>
<td>2</td>
<td>Mr. Pankaj Boladra</td>
<td>2014-15</td>
</tr>


<tr>
<td>3</td>
<td>Mr. Abhijeet Pise</td>
<td>2015-16</td>
</tr>


</table>

</p>


<br>
<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">Chinmay Zawar Best Project Award</h3>


<h4 style="color:red;"><strong>Introduction:</strong><h4>
<p>
This award is instituted in the name of Late Chinmay Zawar, a bright student of E&TC department who left us for heavenly abode on 2nd December 2014. Chinmay had worked untiringly for his final year project with team spirit that is to be remembered forever. So department decided to constitute an award to appreciate the qualities of life with which he lived.</p>

<h4 style="color:red;"><strong>Details of Awards:</strong><h4>
<p>
A cash price of Rs. 5000/- (Five Thousand) to be given for the best final year project during National Conference for Students in Electrical and Electronics Engineering (NCSEEE) of that academic year.</p>

<h4 style="color:red;"><strong>Criteria:</strong><h4>
<p>
Selection will be done by a committee of Project Coordinators and HOD based on evaluation done by-<table class="table table-striped table-hover" style="margin-top:-1%;">
<ol>
<li>Internal Evaluation Committee .</li>
<li>

External Examiners appointed by SPPU (Savitribai Phule Pune University).
</li>
<li>Industry Experts</li>
</ol>


<table class="table table-striped table-hover" style="margin-top:-1%;">


<thead style="background-color:grey;">
<th style="color:white;">Sr.No.</th>
<th style="color:white;">Name of the Student</th>
<th style="color:white;">Project Title</th>
<th style="color:white;">Academic Year</th>
</thead>

<tbody>

<tr>
<td>1</td>
<td>Mr. Shubham Negi, Mr. Akshay Trivedi and Mr. Saurabh Shinde</td>
<td>Solar Power and Data acquisition</td>
<td>2014-15</td>
</tr>

<tr >
<td>2</td>
<td> 	
Mr. Ganesh Sose, Mr. Pratik Vikharakar and Mr. Sanket Sawant</td>
<td>Hypoglycaemia Indication Band</td>
<td>2015-16</td>
</tr>


</tbody>

</table>



</p>
</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>






</div>
</div>
</div>
</div>

</body>
</html>