<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">
<div class="row-md-4">


<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>SM Technologies Pvt. Ltd.</strong></h3>
<img  src="C:\Users\user\Documents\viit website\images\SM-Technologies-Pvt-Ltd.jpg"/ width="100%" >
<br>
<br>
<br>
<table class="table table-striped table-hover" style="margin-top:0%;font-size:150%;">


<thead style="background-color:grey;">
<th style="color:white;">Sr.No.</th>
<th style="color:white;text-align:center;">Objectives</th>
</thead>

</tbody>

<tr >
<td>1</td>
<td>To provide training to undergraduate students. </td>
</tr>


<tr>
<td>2</td>
<td> 	

To undertake collaborative research and development projects RF & Microwave.</td>
</tr>


<tr >
<td>3</td>
<td> 	

To guide VIIT students / research fellows in their academic and Research projects.</td>
</tr>


<tr>
<td>4</td>
<td> 	

To offer summer / winter Internship to selected VIIT Graduates on IC Design especially in RF IC, AMS & RF Board at SM Wireless Solutions.</td>
</tr>



</tbody>
</table>
</div>




			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>





</div>
</div>
</div>
</div>
</body>
</html>