<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="responsive">
<div class="row-md-4">

<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Time Table</strong></h3>
<br>
<br>

<ul>
<li style="font-size:150%;"><a href="http://www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/UG_E&TC_dept_Acad_Cale_Sem-II_16-17.pdf"> UG Academic Calendar Sem-II 16-17/a></li>
<br>
<li style="font-size:150%;"><a href="http://www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/PG_E&TC_dept_Acad_Cale_Sem-II_16-17.pdf</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/SE%20E&TC-A.xls">SE E&TC A</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/SE%20E&TC-B.xls">SE E&TC B</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/SE%20E&TC-C.xls"> SE E&TC C</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/TE%20E&TC-A.xls"> TE E&TC A</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/TE%20E&TC-B.xls"> TE E&TC B</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/TE%20E&TC-C.xls"> TE E&TC C</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/BE%20E&TC-A.xls"> BE E&TC A</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/BE%20E&TC-B.xls"> BE E&TC B</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/BE%20E&TC-C.xls"> BE E&TC C</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/ME%20E&TC-I.xls">ME E&TC-I</a></li>
<br>
<li style="font-size:150%;"><a href="www.viit.ac.in/uploaded%20files/ETC%20Time%20Table/ME%20E&TC-II.xls">ME E&TC-II</a></li>
<br>

</ul>

</div>



			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>






</div>
</div>
</div>
</div>
</body>
</html>