<!DOCTYPE html>
<html lang="en">
<head>
  <title>E&TC Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">
<div class="row-md-4">

<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Electronics and Telecommunication Department</h2>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Virtual IIT Mumbai</strong></h3>

<br>

<table class="table table-striped table-hover" style="margin-top:0%;">
<thead style="background-color:grey;">
<th style="color:white;text-align:center;">Sr.No.</th>
<th style="color:white;text-align:center;">Objectives</th>
</thead>



<tbody>

<tr >
<td>1</td>
<td>To provide remote-access to Labs in various disciplines of Science and engineering. These Virtual Labs would cater to students at the undergraduate level, post graduate level as well as to research scholars</td>
</tr>

<tr>
<td>2</td>
<td> 	
To enthuse students to conduct experiments by arousing their curiosity. This would help them in learning basic and advanced concepts through remote experimentation</td>
</tr>

<tr >
<td>3</td>
<td>To provide a complete Learning Management System around the Virtual Labs where the students can avail the various tools for learning, including additional web-resources, video-lectures, animated demonstrations and self evaluation.</td>
</tr>

<tr>
<td>4</td>
<td>To share costly equipment and resources, which are otherwise available to limited number of users due to constraints on time and geographical distances.</td>
</tr>

</tbody>
</table>

<br>

<img src="C:\Users\user\Documents\viit website\images\virtuallab.jpg"  width="100%"  height="40%" alt="">
<br>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>The Philosophy</strong></h3>
<p>
Physical distances and the lack of resources make us unable to perform experiments, especially when they involve sophisticated instruments. Also, good teachers are always a scarce resource. Web-based and video-based courses address the issue of teaching to some extent. Conducting joint experiments by two participating institutions and also sharing costly resources has always been a challenge. With the present day internet and computer technologies the above limitations can no more hamper students and researchers in enhancing their skills and knowledge. Also, in a country such as ours, costly instruments and equipment need to be shared with fellow researchers to the extent possible. Web enabled experiments can be designed for remote operation and viewing so as to enthuse the curiosity and innovation into students. This would help in learning basic and advanced concepts through remote experimentation. Today most equipment has a computer interface for control and data storage. It is possible to design good experiments around some of this equipment which would enhance the learning of a student. Internet-based experimentation further permits use of resources – knowledge, software, and data available on the web, apart from encouraging skilful experiments being simultaneously performed at points separated in space (and possibly, time).
</p>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Salient Features</h3>
<p>
Virtual Labs will provide to the students the result of an experiment by one of the following methods (or possibly a combination)
</p>


<br>

<table class="table table-striped table-hover" style="margin-top:0%;">
<thead style="background-color:grey;">
<th style="color:white;text-align:center;">Sr.No.</th>
<th style="color:white;text-align:center;">Features</th>
</thead>

<tbody>

<tr >
<td>1</td>
<td> 	
Modeling the physical phenomenon by a set of equations and carrying out simulations to yield the result of the particular experiment. This can, at-the-best, provide an approximate version of the ‘real-world’ experiment.</td>
</tr>


<tr>
<td>2</td>
<td> 	
Poviding measured data for virtual lab experiments corresponding to the data previously obtained by measurements on an actual system.</td>
</tr>


<tr >
<td>3</td>
<td> 	
Remotely triggering an experiment in an actual lab and providing the student the result of the experiment through the computer interface. This would entail carrying out the actual lab experiment remotely.</td>
</tr>

</tbody>
</table>
<br><br>

<p>
Virtual Labs will be made more effective and realistic by providing additional inputs to the students like accompanying audio and video streaming of an actual lab experiment and equipment.<br>

For the ‘touch and feel’ part, the students can possibly visit an actual laboratory for a short duration.
</p>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Virtual Lab Nodal Center-VIIT</h3>
<img src="C:\Users\user\Documents\viit website\images\virtuallab4.jpg"  width="100%"  height="80%" alt="">
<br>

<p>
<strong>Mr. Pushpdeep Gupta </strong>(Project Manager Virtual Labs, IIT Bombay) handing over the letter of Approval for Virtual Lab Nodal Centre-VIIT to <strong>Dr. B S Karkare</strong>( Principal VIIT)
</p>

<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Mr. G H Chavhan (9225511906) will be acting as Nodal Coordinator, Virtual Labs VIIT</strong></h3>
<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;"><strong>Location of the Lab: Virtual Labs - C203 (E&TC Dept. Second Floor)</strong></h3>
<br>
<br>
</div>

			<br><br><br><br><br><br>
<div class="col-md-5"  style="margin-left:10%;">
			<div class="jumbotron"style="margin-right:10%;margin-top:-4%;">
			<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				  <li><a href="../entc/department_profile">Department Profile</a></li>
				  <li><a href="../entc/faculty_list">Faculty List</a></li>
				  <li><a href="../entc/department_advisory_board">Department Advisory Board</a></li>
				  <li><a href="../entc/industry_advisory_board">Industry Advisory Board</a></li>
				  <li><a href="../entc/achievements">Achievements</a></li>
				  <li><a href="../entc/research_and_publications">Research and Publications</a></li>
				  <li><a href="../entc/consultancy_and_sponsored_projects">Consultancy and Sponsored Projects</a></li>
				  <li><a href="../entc/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../entc/scholarships_and_awards">Scholarships and Awards</a></li>
				  <li><a href="../entc/outcome_based_education">Outcome Based Education</a></li>
				  <li><a href="../entc/laboratory">Laboratory</a></li>
				  <h4>Industry Attached/Sponsored/Donated Laboratory</h4>
                                  <ul>
                                  <li><a href="../entc/industry_attached_lab">VIIT Nodal Center of Texas Instrument Technology</a></li>
				  <li><a href="../entc/ni_lab_view">NI Labview Academy</a></li>
				  <li><a href="../entc/sm_tech_pvt_ltd">SM Technologies</a></li>
				  <li><a href="../entc/modrobs">Modrobs</a></li>
				  <li><a href="../entc/green_lab_isro">Green Laboratory ISRO></a></li>
				  <li><a href="../entc/virtual_iit">Virtual Lab IIT Mumbai</a></li>
				  </ul>
                                  <li><a href="../entc/robocon">ROBOCON</a></li>
				  <li><a href="../entc/syllabus">Syllabus</a></li>
				  <li><a href="../entc/timetable">Time-table</a></li>
				  
</ul>










</div>
</div>
</div>
</div>
</body>
</html>