<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Laboratory</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
		<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" style="margin-right:20px;" height="50px" width="50px" alt="" align="middle"/>Mechanical Engineering-Laboratory</h1></div>		
			<br>
					<h3 align="justify" style ="line-height:150%"><strong>Laboratories</strong></h3>

		<p align="justify" style ="line-height:150%">
		The Department provides  laboratory facilities and hands-on training to the Undergraduate students both in the conventional subject as also in the emerging fields of specialization.</p>

<table class="table table-striped table-hover">

	    <thead>
		<tr class="danger">
            <th width="9%" style="text-align:center;" ><strong>Sr.No.</strong></th>
            <th ><strong>Laboratory Name</strong></th>
            <th width="42%" ><strong>Lab In charge</strong></th>
		</tr>
	    </thead>

        <tbody>          
          <tr class="info">
            <td align="center" >1</td>
            <td >Computer Aided Engineering (CAE)</td>
            <td >Mr. N. B. Kate</td>
          </tr>

          <tr >
            <td align="center" >2</td>
            <td >Computer Graphics (CG)</td>
            <td >Mr. A. R. Mache</td>
          </tr>

          <tr class="info" >
            <td align="center" >3</td>
            <td >Computer Aided Drafting (CAD)</td>
            <td >Mr. P.P. Rathod</td>
          </tr>
         
		  <tr >
            <td align="center" >4</td>
            <td >Kinematics and Dynamics (K&D)</td>
            <td >Mr. N. H. Ambhore/Mr. P. R. Anerao</td>
          </tr>
          
		  <tr class="info" >
            <td align="center" >5</td>

            <td >Thermofluids</td>
            <td >Mr. A. A. Manikjade</td>
          </tr>

          <tr >
            <td align="center" >6</td>
            <td >Measurements</td>
            <td >Mr A. A. Somatkar/ Mr. C.R. More</td>
          </tr>
         
        <tr class="info" >
            <td align="center" >7</td>
            <td >Engineering Drawing Hall</td>
            <td >Mr. K. S. Wangikar</td>
          </tr>

          <tr >
            <td align="center" >8</td>
            <td >Post Graduation/Departmental Library </td>
            <td >Mr. A. R. Deshpande/Mr. F. A. Shaikh</td>
          </tr>

          <tr class="info" >
            <td align="center" >9</td>
            <td  width="49%" >Fluid Mechanics (FM) </td>
            <td > Mr. D. B. Nalawade</td>
          </tr> 

          <tr >
            <td align="center" >10</td>
            <td width="49%" >I.C. Engines/Skill Development</td>
            <td >Mr. C. R. Ramtirthkar/Mr. K. S. Wangikar </td>
          </tr>

           <tr class="info" >
            <td align="center" >11</td>
            <td  width="49%" > Design Engineering</td>
            <td >Mr. A. V. Salve</td>
           </tr>
		   
		   <tr >
		     <td align="center" >12</td>
		     <td >Engineering Metallurgy (EM)</td>
		     <td >Mr. M.G. Gadge</td>
	      </tr>
		   
		   <tr class="info" >
		     <td align="center" >13</td>
		     <td >Heat Transfer (HT) </td>
		     <td >Mrs. H.V. Velhal</td>
	      </tr>
		  
        </tbody>
        </table>
		
		
		

<!-- 1 Computer Aided Drafting and Manufacturing(CAD/CAM) Lab start-->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">1.Computer Aided Engineering(CAE) Lab</th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Enginering  Dept., Fourth Floor(E-402) </td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>58 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. N. B. Kate</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. R. B. Jagtap</td>
			  
			  <tr class="info" >
			    <td colspan=2><p align="justify" style ="line-height:150%"><strong>Software:</strong> Creo Parametric, CATIA, ANSYS, MSC Softwares</p></td>
		      </tr>
			  <tr >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab1.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
<!--1 Computer Aided Drafting and Manufacturing(CAD/CAM) Lab end  -->	



	
<!-- 2 Computer Graphics(CG) Lab start  -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">2.Computer Graphics(CG) Lab</th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Fourth Floor (E403)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>69 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. A. R. Mache</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. Rajiv Kumar </td>
			  </tr>
				
			  <tr class="info" >
			    <td colspan=2><p align="justify" style ="line-height:150%"><strong>Software:</strong> <strong>MAT  LAB, AUTOCAD</strong></p></td>
		      </tr>
			  <tr >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab2.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
		
<!--  2 Computer Graphics(CG) Lab end -->	




	
			<!-- 3 Computer Aided Engineering(CAE) Lab start -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">3.Computer Aided Drafting(CAD) Lab</th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Fourth Floor (E404)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>67 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. P.P. Rathod</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. Rajiv Kumar</td>
			  </tr>
			  
			  <tr class="info" >
			    <td colspan=2><p align="justify" style ="line-height:150%"><strong>Software:</strong>Creo Parametric, ANSYS, CATIA,AUTOCAD</p></td>
		      </tr>
			  <tr >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab3.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
<!--3 Computer Aided Engineering(CAE) Lab end  -->	




	
<!-- 4 Dynamics of Machinery/Theory of Machine Elements(DOM/TOM) Lab -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">4. Kinematics and Dynamics(K&D) Lab</th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Fourth Floor (E411)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>60 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. P. R. Anerao and Mr.  N. H. Ambhore</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. D. N. Joshi</td>
			  </tr>
			  
			  <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab4.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
		
<!-- 4 Dynamics of Machinery/Theory of Machine Elements(DOM/TOM) Lab end -->		
			

<!-- 5 Applied Thermodynamics/Basic Mechanical Engineering(AT/BME) Labstart -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">5.<strong>Thermofluids</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept.,  (E-412)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>110 sq. Mtr<strong> </strong></td>
				</tr>
				<tr  class="info">
				  <td>Laboratory Incharge</td>
				  <td>Mr. A. A. Manikjade</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td> Mr. D. N. Joshi</td>
			  </tr>
				
			  <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab5.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
<!-- 5 Applied Thermodynamics/Basic Mechanical Engineering(AT/BME) Lab end  -->	




	
<!-- 6 . Mechatronics Lab start -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">6.Measurements</th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Fourth Floor (E-413)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>60 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. A.A. Somatkar/Mr. C. R. More</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. Khenat</td>
			  </tr>
			  
			   <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab14.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>   
			 
			</tbody>
		</table>
		
<!--6 . Mechatronics Lab end -->	



	
			
<!-- 7 Drawing Hall start -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">7.<strong>Engineering Drawing Hall</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Fourth Floor (E414)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>132 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. K. S. Wangikar</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. R. B. Jagtap </td>
			  </tr>
			  
			  <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab7.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
		
<!--7 Drawing Hall end -->	



	
			

<!-- 8 Post Graduation Laboratorystarts -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">8.Post Graduation Laboratory/Departmental Library</th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Fourth Floor (E-415)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>90 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. R. B. Jagtap /Mr. D. N. Joshi</td>
			  </tr>
				<tr >
				  <td>Laboratory Resources</td>
				  <td>&nbsp;</td>
			  </tr>
			 
			 
			</tbody>
		</table>
<!--8 PG Laboratory /Departmental Library Lab end  -->	





	
<!-- 9 . Fluid Mechanics/Turbo Machines(FM/TMC) Lab start  -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;"><strong>9. Fluid Mechanics (FM)</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Ground Floor (E-002)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>90 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. D. B. Nalawade</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. Kharade</td>
			  </tr>
			  
			  <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab9.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
		
<!-- 9 Fluid Mechanics/Turbo Machines(FM/TMC) Lab end -->	



	
			
<!-- 10 Internal Combustion Engine Lab start -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">10.<strong>I.C. Engines/Skill Development</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Ground Floor (E-003)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>60 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. C.R. Ramtirthkar/Mr. K.S. Wangikar</td>
			  </tr>
				
			</tbody>
		</table>
<!-- 10 Internal Combustion Engine Lab end -->	



	
<!-- 11 Machine Design/Mechanical System Design (MD/MSD) Lab start   -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">11.<strong>Design Engineering</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., Ground Floor (E-407)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>64 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. A. V. Salve</td>
			  </tr>
			  
			  <tr >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab11.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
		
<!-- 11 Machine Design/Mechanical System Design (MD/MSD) Lab end  -->


		
			
<!-- 12 Metallurgy start -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">12.<strong>Engineering Metallurgy (EM)</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., (E-413)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>90 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mr. M. G. Gadge</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr Khenat<strong>&nbsp; </strong></td>
			  </tr>
			  
			  <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab12.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
<!-- 12 Metallurgy end -->		
		
		
		
		
		<!-- 13 Heat Transfer(HT) start -->
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">13. <strong>Heat Transfer (HT)</strong></th>
				</tr>
			</thead>
			<tbody>	
				<tr class="info" >
					<td width="46%">Location of Laboratory</td>
					<td width="54%">Mechanical Engineering  Dept., (E-409)</td>
				</tr>  
				<tr >
					<td>Area of Laboratory</td>
					<td>76.5 sq. Mtr</td>
				</tr>
				<tr class="info" >
				  <td>Laboratory Incharge</td>
				  <td>Mrs. H. V. Velhal</td>
			  </tr>
				<tr >
				  <td>Lab Assistant&nbsp;&nbsp;</td>
				  <td>Mr. M. G. Bhong</td>
			  </tr>
			  
			  <tr class="info" >
			    <td colspan=2><img src="/home/rakif/Documents/fnf/mechLab13.JPG" style="margin-left:50px;" width="602" height="150" /></td>
		      </tr>  
			</tbody>
		</table>
		</div>

		<div class="col-md-5">
			<br><br><br><br><br>
			<div class="jumbotron">
				<h2>Mechanical Engineering</h2>
				<ul>
          <li><a href="../mechanical/departmentprofile_mech">Department Profile</a></li>
          <li><a href="../mechanical/facultylist_mech">Faculty List</a></li>
          <li>Post Graduate - ME</li>
          <ul>
              <li><a href="../mechanical/aboutcourse_mech">About the course</a></li> 
              <li><a href="../mechanical/equipmentPG_mech">Equipment available for PG students</a></li> 
              <li><a href="../mechanical/publicationdetail_mech">Publication Details</a></li> 
              <li><a href="../mechanical/R&Dprojects_mech">Funded R&D Projects and Consultancy (FRDC) Work</a></li>
          </ul>
          <li><a href="../mechanical/research&publication_mech">Research & Publications</a></li>
          <li><a href="../mechanical/achievements_mech">Achievements</a></li>
          <li><a href="../mechanical/laboratory_mech">Laboratory</a></li>	  
          <li><a href="../mechanical/staffdevelopment_mech">Staff Development & Training</a></li>
          <li><a href="../mechanical/EDC_mech">Entrepreneur Development Cell</a></li>
          <li><a href="../mechanical/MESA_mech">Mechanical Engineering Student Association</a></li>
		  		<li><a href="uploaded files/Alumni Report.pdf">Alumni Meet</a></li>
		  		<li><a href="../mechanical/SAEVIIT_mech">SAE VIIT Chapter</a>
			   	<ul>
            <li><a href="uploaded files/SAEINDIA SUPRA 2016.pdf">SAEINDIA SUPRA 2016</a></li>
            <li><a href="uploaded files/SAEINDIA BAJA 2016 REPORT.pdf">SAEINDIA BAJA 2016</a></li>
			      <li><a href="uploaded files/SAEINDIA SUPRA 2015 Report(1).pdf">SAEINDIA SUPRA 2015</a></li>
			      <li><a href="uploaded files/SAE INDIA Supra 2014.pdf">SAEINDIA SUPRA 2014</a></li>
			   	</ul>
          <li><a href="../mechanical/newsletter_mech">Newsletter</a></li>	  
		  		<li><a href="../mechanical/timetable_mech">Time Table</a></li>
		  		<li><a href="../mechanical/syllabus_mech">Syllabus</a></li>
		  		<li>Parent Teacher Meet</li>
          <ul>
			    	<li><a href="uploaded files/PARENT TEACHER MEETING REPORT July 23, 2016.pdf">PARENT - TEACHER MEETING REPORT July 23, 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/Parents meet February 14, 2015.pdf">PARENT - TEACHER MEETING REPORT February 14, 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/Parent Teacher Report _Mech.pdf">PARENT - TEACHER MEETING REPORT August 9, 2014 </a></li>
			   	</ul>
			   	<ul>
			    	<li><a href="uploaded files/PARENT - TEACHER MEETING REPORT July 25, 2015.pdf">PARENT - TEACHER MEETING REPORT July 25, 2015</a></li>
			   	</ul>
			   	<li>Report</li>
         	<ul>
			    	<li><a href="uploaded files/QIP Report - I.C. Engine - 5-10 December,2016.pdf">ISTE Approved QIP- I.C. Engine 2016</a></li>
			   	</ul>
				 	<ul>
			    	<li><a href="uploaded files/MUN 2016 Report.pdf">Model United Nations (MUN’16) </a></li>
			   	</ul>	
          <ul>
			    	<li><a href="uploaded files/ISTE Approved STTP - Advanced Composite Materials in 2016.pdf">ISTE Approved STTP- Advanced Composite Materials 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/MED_NCMMM_2015_Report.pdf">NCMMM 2015</a></li>
			   	</ul>
			    <ul>
            <li><a href="uploaded files/MECHGRATIA2016-TSDP-Report.pdf">TSDP 2016</a></li>
			    	<li><a href="uploaded files/TSDP 2015_Report.pdf">TSDP 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/FDP June 2014 Report - MED.pdf">FDP 2014</a></li>
			    </ul>
          <ul>
			    	<li><a href="uploaded files/STTP- Advanced Welding Technology in 2015.pdf">STTP-AWT 2015</a></li>
			    </ul>
		</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>	
			
