<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mechanical Engineering</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" style="margin-right:20px;" height="50px" width="50px" alt="" align="middle"/>Mechanical Engineering Department</h1></div>
		<div class="row">
			<div class="col-md-7">		
			<br>
					<p align="justify" style ="line-height:150%"><strong>Vision: Excellence in Mechanical Engineering for Global Acceptance</strong></p>

		  <p align="justify" style ="line-height:150%"><strong>Mission: </strong></p>

		<ul>
		<li><p align="justify" style ="line-height:150%"><strong>Make spirited mechanical engineers with morals, values and principles for sustainable development of society.</strong></p></li>
		
		<li>
		  <p align="justify" style ="line-height:150%"><strong>Strive continuously to impart knowledge and skills of the highest standards.</strong></p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%"><strong>Our engineers will respond to the current and future needs of the industry, higher studies as well as research.</strong></p>
		</li>	
		</ul>		
		
				  <p align="justify" style ="line-height:150%">Mechanical Engineering envisages the development, design, manufacturing and maintenance of machinery. The present age demands Mechanical Engineering course producing specialists who have the capacity of adaptability and creativity in the new technical areas. To meet the above requirements Mechanical Engineering department offers the Undergraduate Programme (UG) in Mechanical Engineering as well as Post graduate Programme (PG), with Design specialization.</p>
				  
				  <p align="justify" style ="line-height:150%">
				  Vishwakarma Institute of Information Technology (VIIT) started undergraduate Mechanical Engineering course in 2007-08 and postgraduate course in 2012 in Pune. The department has excellent faculty and is known for its commitment high academic standard disciplined approach and well maintained facilities. Students get solid exposure of and are motivated to orient themselves in one of the three main thrusts namely Design, Heat power and Manufacturing. The department has maintained a good rapport with the industry as well as specialized R&D organizations. VIIT is amongst the best mechanical engineering colleges in Pune.
				  </p>
				  
				  
		<!--Program Educational Objectives: start -->
		<strong>Program Educational Objectives: <!--<span class="style1">Graduate of the program will</span>--></strong>
		
		<ol>
		<li>
		  <p align="justify" style ="line-height:150%">Graduates of the program will become competent engineers suitable for the mechanical engineering based industry and higher education.
		  </p>
		</li>	
		
		<li><p align="justify" style ="line-height:150%">Graduates of the program will acquire the necessary foundation in fundamental mechanical engineering subjects for development of mathematical and analytical abilities.</p>
		</li>
		
		
		
		<li><p align="justify" style ="line-height:150%">Graduates of the program will acquire the knowledge and skills in mechanical engineering to provide technological solutions.
		</p> 
		</li>
		
		
		<li><p align="justify" style ="line-height:150%">Graduates of the program will learn managerial, financial and ethical practices such as, project and financial management skills, multidisciplinary approach and soft skills.
		</p>
		</li>
		
		<li><p align="justify" style ="line-height:150%">Graduates of the program will respond to growing demands of society through lifelong learning.
		</p>
		</li>		
		</ol>	
		<!--Program Educational Objectives: end -->
		
		
		<!--Program outcomes: start -->
		<strong>Program Outcomes: <!--<span class="style1">Graduate of the program will</span>--></strong>
		
		<ol>
		<li>
		  <p align="justify" style ="line-height:150%">Apply knowledge of mathematics, science, and engineering with focus on mechanical engineering.
		  </p>
		</li>	
		
		<li><p align="justify" style ="line-height:150%">Identify, formulate and analyze a problem using principles of basic sciences and mechanical engineering.</p>
		</li>
		
		
		
		<li><p align="justify" style ="line-height:150%">Design a system, component or process to fulfil desired needs within realistic constraints such as manufacturing, economic, environmental, social, ethical, safety and sustainability. 
		</p> 
		</li>
		
		
		<li><p align="justify" style ="line-height:150%">Design and conduct experiments as well as analyze and interpret data.
		</p>
		</li>
		
		<li><p align="justify" style ="line-height:150%">Apply techniques, skills, and modern mechanical engineering tools such as CAD, CAM and CAE necessary for engineering practice.
		</p>
		</li>	
		
		<li><p align="justify" style ="line-height:150%">Acquire the broad education necessary to understand the impact of mechanical engineering solutions in the context of global, economic, environmental, cultural, legal and social issues.
		</p>
		</li>	
		
		
		<li><p align="justify" style ="line-height:150%">Understand professional and ethical responsibility with contemporary issues.
		</p>
		</li>	
		
		<li><p align="justify" style ="line-height:150%">Function effectively as an individual and as a member of multidisciplinary team.
		</p>
		</li>
		
		
		<li><p align="justify" style ="line-height:150%">Communicate effectively with the engineering community and society.
		</p>
		</li>
		
		
		<li><p align="justify" style ="line-height:150%">Apply project and financial management principles as a leader and team member in a multidisciplinary environment.
		</p>
		</li>
		
		
		<li><p align="justify" style ="line-height:150%">Recognize the need and engage in life-long learning.
		</p>
		</li>
		
		
		
			
		</ol>	
		<!--Program outcomes: end -->
		
		
		<p align="justify" style ="line-height:150%">
		VIIT is one of the top engineering institutes in Pune. Engineers are required in almost every sector of the industry. Since the tremendous impact of globalization has been in the field of manufacturing, a mechanical engineering student has certainly an edge over others. The areas of employment are marine, aerospace, aviation, automobile industries, railways, pharmaceuticals, machine tools industries, farm equipments, fabricated metal products and so on. Placement wise VIIT is one of the top engineering colleges in Pune.
		</p>
		
		 
		 
		 <p align="justify" style ="line-height:150%"><strong>Highlights of Department: </strong></p>

		<ul>
		<li><p align="justify" style ="line-height:150%">Highly qualified staff with <strong>two</strong> Professors, <strong>three</strong> Associate Professors, <strong>twenty-nine</strong> Assistant Professors </p>
		</li>
		
		<li><p align="justify" style ="line-height:150%">The department is proud to state that it has a staff to student ratio of 1:15</p></li>
		
		<li><p align="justify" style ="line-height:150%"><strong>Mechanical Engineering undergraduate course</strong> started in 2007-08 and postgraduate course in 2012 <strong>in Pune</strong>.</p></li>
		
		<li><p align="justify" style ="line-height:150%">Faculties as well as students get involved with real world research projects from industry and other institutions that are continuously monitored by industry experts and senior faculty.</p></li>
		
				
		<li><p align="justify" style ="line-height:150%">Ten faculty members are pursuing their PhD with leading institutions</p></li>
		
		<li><p align="justify" style ="line-height:150%">Every Laboratory houses equipment and software that measures up to industry and modern day engineering requirements and standards.</p></li>
		
		<li><p align="justify" style ="line-height:150%">The Industry-Institute interaction cell strives to provide unique opportunities to students and staff in terms of industry visits, Projects, lectures as also knowledge sharing.</p></li>
		
		
		<li><p align="justify" style ="line-height:150%"><strong>Mechanical Engineering </strong>Student Association (MESA) is among the most active student bodies in the institute. Every student beginning with the second year in the program at VIIT is a member of MESA. Mentored by experienced faculty members of the department, students take on many co and extra curricular initiatives that prepare them to face challenges of the future. </p></li>
		
		<li><p align="justify" style ="line-height:150%"><strong>Society of Automotive Engineers </strong>(SAE) VIIT Chapter encourages students to participate in various technical conventions and automotive competitions. <strong>SUPRA\96TEAM VIIT </strong>secured 6th position in the designing phase for the <strong>SAE-SUPRA</strong> Virtuals 2015 international event. BAJA- <strong>TEAM VIIT</strong> cleared Virtuals on 3rd August 2014.</p></li>
		
		<li><p align="justify" style ="line-height:150%">Mr. Taher Ammar Rangwala stood second in BE, <strong>Savitribai Phule Pune University</strong> examination (May 2012) and stood first in Mechanical Engineering. He is gold medallist and has won seven prizes in all.</p></li>
		
		<li><p align="justify" style ="line-height:150%"><strong>Mechanical engineering department is amongst the best engineering departments in Pune.</strong></p></li>
		</ul>
		<br><br><br><br>
				<p>Considering above mentioned features, Vishwakarma Institute of Information Technology (VIIT) aims to become <strong>no 1 engineering college in Pune</strong>.
		</p>
		<strong>Dr. A. P. Kulkarni</br>
		Associate Professor and Head</br>
		Department of Mechanical Engineering<br />		
		Email: atul.kulkarni@viit.ac.in<br />
		Ext: (+91)-(020) 26932300-401<br />
		Fax: (+91)-(020) 26932500</strong>
		</div>

		<div class="col-md-5">
			<br><br><br><br><br>
			<div class="jumbotron">
				<h2>Mechanical Engineering</h2>
				<ul>
          <li><a href="../mechanical/departmentprofile_mech">Department Profile</a></li>
          <li><a href="../mechanical/facultylist_mech">Faculty List</a></li>
          <li>Post Graduate - ME</li>
          <ul>
              <li><a href="../mechanical/aboutcourse_mech">About the course</a></li> 
              <li><a href="../mechanical/equipmentPG_mech">Equipment available for PG students</a></li> 
              <li><a href="../mechanical/publicationdetail_mech">Publication Details</a></li> 
              <li><a href="../mechanical/R&Dprojects_mech">Funded R&D Projects and Consultancy (FRDC) Work</a></li>
          </ul>
          <li><a href="../mechanical/research&publication_mech">Research & Publications</a></li>
          <li><a href="../mechanical/achievements_mech">Achievements</a></li>
          <li><a href="../mechanical/laboratory_mech">Laboratory</a></li>	  
          <li><a href="../mechanical/staffdevelopment_mech">Staff Development & Training</a></li>
          <li><a href="../mechanical/EDC_mech">Entrepreneur Development Cell</a></li>
          <li><a href="../mechanical/MESA_mech">Mechanical Engineering Student Association</a></li>
		  		<li><a href="uploaded files/Alumni Report.pdf">Alumni Meet</a></li>
		  		<li><a href="../mechanical/SAEVIIT_mech">SAE VIIT Chapter</a>
			   	<ul>
            <li><a href="uploaded files/SAEINDIA SUPRA 2016.pdf">SAEINDIA SUPRA 2016</a></li>
            <li><a href="uploaded files/SAEINDIA BAJA 2016 REPORT.pdf">SAEINDIA BAJA 2016</a></li>
			      <li><a href="uploaded files/SAEINDIA SUPRA 2015 Report(1).pdf">SAEINDIA SUPRA 2015</a></li>
			      <li><a href="uploaded files/SAE INDIA Supra 2014.pdf">SAEINDIA SUPRA 2014</a></li>
			   	</ul>
          <li><a href="../mechanical/newsletter_mech">Newsletter</a></li>	  
		  		<li><a href="../mechanical/timetable_mech">Time Table</a></li>
		  		<li><a href="../mechanical/syllabus_mech">Syllabus</a></li>
		  		<li>Parent Teacher Meet</li>
          <ul>
			    	<li><a href="uploaded files/PARENT TEACHER MEETING REPORT July 23, 2016.pdf">PARENT - TEACHER MEETING REPORT July 23, 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/Parents meet February 14, 2015.pdf">PARENT - TEACHER MEETING REPORT February 14, 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/Parent Teacher Report _Mech.pdf">PARENT - TEACHER MEETING REPORT August 9, 2014 </a></li>
			   	</ul>
			   	<ul>
			    	<li><a href="uploaded files/PARENT - TEACHER MEETING REPORT July 25, 2015.pdf">PARENT - TEACHER MEETING REPORT July 25, 2015</a></li>
			   	</ul>
			   	<li>Report</li>
         	<ul>
			    	<li><a href="uploaded files/QIP Report - I.C. Engine - 5-10 December,2016.pdf">ISTE Approved QIP- I.C. Engine 2016</a></li>
			   	</ul>
				 	<ul>
			    	<li><a href="uploaded files/MUN 2016 Report.pdf">Model United Nations (MUN’16) </a></li>
			   	</ul>	
          <ul>
			    	<li><a href="uploaded files/ISTE Approved STTP - Advanced Composite Materials in 2016.pdf">ISTE Approved STTP- Advanced Composite Materials 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/MED_NCMMM_2015_Report.pdf">NCMMM 2015</a></li>
			   	</ul>
			    <ul>
            <li><a href="uploaded files/MECHGRATIA2016-TSDP-Report.pdf">TSDP 2016</a></li>
			    	<li><a href="uploaded files/TSDP 2015_Report.pdf">TSDP 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/FDP June 2014 Report - MED.pdf">FDP 2014</a></li>
			    </ul>
          <ul>
			    	<li><a href="uploaded files/STTP- Advanced Welding Technology in 2015.pdf">STTP-AWT 2015</a></li>
			    </ul>
		</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>	
			
