<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MESA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
		<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" style="margin-right:20px;" height="50px" width="50px" alt="" align="middle"/>Mechanical Engineering-MESA</h1></div>		
			<br>
					<h3 align="justify" style ="line-height:150%"><strong>MESA (Mechanical Engineering Students Association): </strong></h3>
		  <p align="justify" style ="line-height:150%"><strong> </strong><br />
		   MESA is among the most active student bodies in the institute. Every Mechanical Engineering student beginning with the second year in the program at VIIT is a member of MESA. Mentored by experienced faculty members of the Mechanical Engineering department, students take upon many initiatives that prepare them to face the challenges of the future. The department newsletter also sees significant contributions from MESA.</p>
		  <p align="justify" style ="line-height:150%"> MESA takes active role in the institute event, "PERCEPTION". Students along with faculty spearhead various technical competitions such as ROBO-WAR, ROBO-CON, CAR RACING (focusing on IC-Engines), CONTRAPTION (focusing on optimizing Energy), MACHINE ASSEMBLY, DONE IN 60 SECONDS! Other competitions leveraging industry oriented methods and software tools such as from the area of CAD, CAM and CAE are also held. In addition to technical events, co-curricular and extracurricular activities are also organized by MESA all around the year.  Functions such as "Guru Purnima", "Engineer's Day", "Cultural Day", "Send off" of final year students are all organized by MESA.
	      </p>

		  
<p align="justify" style ="line-height:150%"><strong>Events of the Year 2013-2014</strong><br /><br />

A noteworthy event arranged by MESA was, Vishwakarma Technical Lecture Series, a five day effort arranged for undergraduate students. Eminent personalities from Industry and Academia were invited and they shared their insights in various topics.</p>
<p><strong>Some lectures&nbsp; are:</strong>
		  
<ol>


<li><p align="justify" style ="line-height:150%">Recent Advances in CNG Engine Technology, Dr. S. S. Thipse, Asst. Director, ARAI,
Pune. </p></li>	
		
		<li>
		  <p align="justify" style ="line-height:150%">Teacher’s Day celebration  on 5th September, 2014.  Toppers were felicitated.
		  </p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%">Solar Thermal Energy Utilization, Dr. G. N. Kulkarni, Professor, Mechanical Engineering,Government College of Engineering, Pune. 
		  </p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%">Fluid Power in Low Cost Automation, Mr. Pavan Mishra, Manager Sales and Service,Natasha Enterprises, MIDC, Bhosari, Pune.</p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%">4.	Nano Composites, Dr. R. K. Goyal, Asso. Professor, Department of Metallurgy,Government College of Engineering, Pune.</p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%">FEM and its Use in Industry-Recent Trends, Dr. Dilip Patil, Dana India Technical Centre
		  </p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%">Quality Management Systems, Mr. Pankaj Narang, Tata AutoComp Systems Limited.
		  </p>
		</li>
		
		<li>
		  <p align="justify" style ="line-height:150%">Sustainable Power Scenario in India, Prof. M. K. Nalawade
		  </p>
		</li>		
		</ol>  
 </p>


<p><strong>Events of the Year 2014-2015:</strong>
		  
<ol>


<li>
<p align="justify" style ="line-height:150%">First Alumina Meet on 26th July, 2014.</p>
</li>	


<li>
<p align="justify" style ="line-height:150%">Teacher’s Day celebration on 5th September, 2014.  Toppers were felicitated.</p>
</li>	


<li>
<p align="justify" style ="line-height:150%">A workshop on Automobile Design and Analysis named “Auto-stroke” , for the students of Mechanical Engineering on 13th and 14th of September 2014.</p>
</li>	

</ol>
</p>

	<p align="justify" style ="line-height:150%"><strong>Guest Lectures arranged:</strong>
	
	<table class="table table-striped table-hover">
		<thead>
				<tr class="danger">
					<th colspan=4 style="text-align:center;">Guest Lectures arranged:</th>
				</tr>
		</thead>
	    


<thead>
		<tr class="danger">
            <th width="30" align="center" ><p align="center"><strong>Sr.No.</strong></p></th>
            <th width="235" ><strong>Lecturer</strong></th>
            <th width="273" ><strong>Topic</strong></th>
			 <th width="171" ><strong>Date</strong></th>
		</tr>
	    </thead>

       



 <tbody>          
          <tr class="info">
            <td align="center" >1</td>
            <td width="235"><p align="left">Dr. D.G. Thakur, Asst. Prof and HOD Materials Science  Department, DIAT</p></td>
            <td width="273" valign="top"><p>Advanced Machining</p></td>
            <td width="171" valign="top"><p>13th of September 2014</p></td>
          </tr>
		
	
		  <tr >
            <td align="center" >2</td>
            <td width="235"><p align="left">Mr. Suryanarayan Rao, AGM, Tata Motors, Pune </br>Mr. Uday Mahajan, DGM, Product management , Alfa laval, Pune</p></td>
            <td width="273" valign="top"><p>Todays industrial scenario and what industry is expecting from students.</p></td>
            <td width="171" valign="top"><p>13th of September 2014</p></td>
		  </tr>
		  

		  <tr class="info" >
            <td align="center" >3</td>
            <td width="235"><p align="left">Mr. Abhinay Sarkate, Senior Performance Specialist, Swed Bank, Sweden.</p></td>
            <td width="273" valign="top"><p>Beyond VIIT</p></td>
            <td width="171" valign="top"><p>9th January, 2015</p></td>
		  </tr>
		  

		  <tr >
            <td align="center" >4</td>
            <td width="235"><p align="left">Mr. Kaustubh Panse, Business Head, CADD Centre</p></td>
            <td width="273" valign="top"><p>CAD/CAM</p></td>
            <td width="171" valign="top"><p>14th January, 2015</p></td>
		  </tr>

		  
		  <tr class="info" >
            <td align="center" >5</td>
            <td width="235"><p align="left">Mr. Ketan Tank, Proprietor , Shreeji Marketing  Dealer, Miranda Tools </p></td>
            <td width="273" valign="top"><p>Cutting Tools </p></td>
            <td width="171" valign="top"><p>15th January, 2015</p></td>
		  </tr>
        </tbody>
        </table>

		</div>

		<div class="col-md-5">
			<br><br><br><br><br>
			<div class="jumbotron">
				<h2>Mechanical Engineering</h2>
				<ul>
          <li><a href="../mechanical/departmentprofile_mech">Department Profile</a></li>
          <li><a href="../mechanical/facultylist_mech">Faculty List</a></li>
          <li>Post Graduate - ME</li>
          <ul>
              <li><a href="../mechanical/aboutcourse_mech">About the course</a></li> 
              <li><a href="../mechanical/equipmentPG_mech">Equipment available for PG students</a></li> 
              <li><a href="../mechanical/publicationdetail_mech">Publication Details</a></li> 
              <li><a href="../mechanical/R&Dprojects_mech">Funded R&D Projects and Consultancy (FRDC) Work</a></li>
          </ul>
          <li><a href="../mechanical/research&publication_mech">Research & Publications</a></li>
          <li><a href="../mechanical/achievements_mech">Achievements</a></li>
          <li><a href="../mechanical/laboratory_mech">Laboratory</a></li>	  
          <li><a href="../mechanical/staffdevelopment_mech">Staff Development & Training</a></li>
          <li><a href="../mechanical/EDC_mech">Entrepreneur Development Cell</a></li>
          <li><a href="../mechanical/MESA_mech">Mechanical Engineering Student Association</a></li>
		  		<li><a href="uploaded files/Alumni Report.pdf">Alumni Meet</a></li>
		  		<li><a href="../mechanical/SAEVIIT_mech">SAE VIIT Chapter</a>
			   	<ul>
            <li><a href="uploaded files/SAEINDIA SUPRA 2016.pdf">SAEINDIA SUPRA 2016</a></li>
            <li><a href="uploaded files/SAEINDIA BAJA 2016 REPORT.pdf">SAEINDIA BAJA 2016</a></li>
			      <li><a href="uploaded files/SAEINDIA SUPRA 2015 Report(1).pdf">SAEINDIA SUPRA 2015</a></li>
			      <li><a href="uploaded files/SAE INDIA Supra 2014.pdf">SAEINDIA SUPRA 2014</a></li>
			   	</ul>
          <li><a href="../mechanical/newsletter_mech">Newsletter</a></li>	  
		  		<li><a href="../mechanical/timetable_mech">Time Table</a></li>
		  		<li><a href="../mechanical/syllabus_mech">Syllabus</a></li>
		  		<li>Parent Teacher Meet</li>
          <ul>
			    	<li><a href="uploaded files/PARENT TEACHER MEETING REPORT July 23, 2016.pdf">PARENT - TEACHER MEETING REPORT July 23, 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/Parents meet February 14, 2015.pdf">PARENT - TEACHER MEETING REPORT February 14, 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/Parent Teacher Report _Mech.pdf">PARENT - TEACHER MEETING REPORT August 9, 2014 </a></li>
			   	</ul>
			   	<ul>
			    	<li><a href="uploaded files/PARENT - TEACHER MEETING REPORT July 25, 2015.pdf">PARENT - TEACHER MEETING REPORT July 25, 2015</a></li>
			   	</ul>
			   	<li>Report</li>
         	<ul>
			    	<li><a href="uploaded files/QIP Report - I.C. Engine - 5-10 December,2016.pdf">ISTE Approved QIP- I.C. Engine 2016</a></li>
			   	</ul>
				 	<ul>
			    	<li><a href="uploaded files/MUN 2016 Report.pdf">Model United Nations (MUN’16) </a></li>
			   	</ul>	
          <ul>
			    	<li><a href="uploaded files/ISTE Approved STTP - Advanced Composite Materials in 2016.pdf">ISTE Approved STTP- Advanced Composite Materials 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/MED_NCMMM_2015_Report.pdf">NCMMM 2015</a></li>
			   	</ul>
			    <ul>
            <li><a href="uploaded files/MECHGRATIA2016-TSDP-Report.pdf">TSDP 2016</a></li>
			    	<li><a href="uploaded files/TSDP 2015_Report.pdf">TSDP 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/FDP June 2014 Report - MED.pdf">FDP 2014</a></li>
			    </ul>
          <ul>
			    	<li><a href="uploaded files/STTP- Advanced Welding Technology in 2015.pdf">STTP-AWT 2015</a></li>
			    </ul>
		</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>	
			
