<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SAE VIIT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
		<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" style="margin-right:20px;" height="50px" width="50px" alt="" align="middle"/>Mechanical Engineering-SAE VIIT</h1></div>		
			<br>
					<h3 align="justify" style ="line-height:150%"><strong>SAE VIIT CHAPTER</strong></h3>
		 
		 
		 
		  <p align="justify" style ="line-height:150%">
		   
		    &bull;SAE (Society of Automotive Engineers) is a network of engineer, executives, educators and students from more than 110 countries who come together to share information and exchange ideas for advancing the engineering of mobility systems<br />
		    <br />
		    &bull;SAE India currently has 5 sections in India Government College of Engineering, Pune<br /><br />
		    &bull;There are about 2,000 regular member and more than 27,500 student members in SAE India and the membership is still increasing <br /><br />
		    &bull;In 2011 & 2013, TEAM V.I.I.T participated in SAEINDIA BAJA which is a competition to design an all terrain buggy<br /><br />
		    &bull; In 2012, participated in SAE SUPRA. We won the <strong>MOST COST EFFECTIVE VEHICLE AWARD</strong><br /><br />
		    &bull; We at SAE VIIT CHAPTER encourage students to participate in various technical conventions held at A.R.A.I PUNE <br /><br />
		    &bull;<strong>This year we secured 17th position amongst 173 teams in the designing phase for SUPRA 2014 (Separate slide with more details about the event, team photo, analysis images, etc.)</strong> 
		  
	      </p> 	  	  
		</div>

		<div class="col-md-5">
			<br><br><br><br><br>
			<div class="jumbotron">
				<h2>Mechanical Engineering</h2>
				<ul>
          <li><a href="../mechanical/departmentprofile_mech">Department Profile</a></li>
          <li><a href="../mechanical/facultylist_mech">Faculty List</a></li>
          <li>Post Graduate - ME</li>
          <ul>
              <li><a href="../mechanical/aboutcourse_mech">About the course</a></li> 
              <li><a href="../mechanical/equipmentPG_mech">Equipment available for PG students</a></li> 
              <li><a href="../mechanical/publicationdetail_mech">Publication Details</a></li> 
              <li><a href="../mechanical/R&Dprojects_mech">Funded R&D Projects and Consultancy (FRDC) Work</a></li>
          </ul>
          <li><a href="../mechanical/research&publication_mech">Research & Publications</a></li>
          <li><a href="../mechanical/achievements_mech">Achievements</a></li>
          <li><a href="../mechanical/laboratory_mech">Laboratory</a></li>	  
          <li><a href="../mechanical/staffdevelopment_mech">Staff Development & Training</a></li>
          <li><a href="../mechanical/EDC_mech">Entrepreneur Development Cell</a></li>
          <li><a href="../mechanical/MESA_mech">Mechanical Engineering Student Association</a></li>
		  		<li><a href="uploaded files/Alumni Report.pdf">Alumni Meet</a></li>
		  		<li><a href="../mechanical/SAEVIIT_mech">SAE VIIT Chapter</a>
			   	<ul>
            <li><a href="uploaded files/SAEINDIA SUPRA 2016.pdf">SAEINDIA SUPRA 2016</a></li>
            <li><a href="uploaded files/SAEINDIA BAJA 2016 REPORT.pdf">SAEINDIA BAJA 2016</a></li>
			      <li><a href="uploaded files/SAEINDIA SUPRA 2015 Report(1).pdf">SAEINDIA SUPRA 2015</a></li>
			      <li><a href="uploaded files/SAE INDIA Supra 2014.pdf">SAEINDIA SUPRA 2014</a></li>
			   	</ul>
          <li><a href="../mechanical/newsletter_mech">Newsletter</a></li>	  
		  		<li><a href="../mechanical/timetable_mech">Time Table</a></li>
		  		<li><a href="../mechanical/syllabus_mech">Syllabus</a></li>
		  		<li>Parent Teacher Meet</li>
          <ul>
			    	<li><a href="uploaded files/PARENT TEACHER MEETING REPORT July 23, 2016.pdf">PARENT - TEACHER MEETING REPORT July 23, 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/Parents meet February 14, 2015.pdf">PARENT - TEACHER MEETING REPORT February 14, 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/Parent Teacher Report _Mech.pdf">PARENT - TEACHER MEETING REPORT August 9, 2014 </a></li>
			   	</ul>
			   	<ul>
			    	<li><a href="uploaded files/PARENT - TEACHER MEETING REPORT July 25, 2015.pdf">PARENT - TEACHER MEETING REPORT July 25, 2015</a></li>
			   	</ul>
			   	<li>Report</li>
         	<ul>
			    	<li><a href="uploaded files/QIP Report - I.C. Engine - 5-10 December,2016.pdf">ISTE Approved QIP- I.C. Engine 2016</a></li>
			   	</ul>
				 	<ul>
			    	<li><a href="uploaded files/MUN 2016 Report.pdf">Model United Nations (MUN’16) </a></li>
			   	</ul>	
          <ul>
			    	<li><a href="uploaded files/ISTE Approved STTP - Advanced Composite Materials in 2016.pdf">ISTE Approved STTP- Advanced Composite Materials 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/MED_NCMMM_2015_Report.pdf">NCMMM 2015</a></li>
			   	</ul>
			    <ul>
            <li><a href="uploaded files/MECHGRATIA2016-TSDP-Report.pdf">TSDP 2016</a></li>
			    	<li><a href="uploaded files/TSDP 2015_Report.pdf">TSDP 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/FDP June 2014 Report - MED.pdf">FDP 2014</a></li>
			    </ul>
          <ul>
			    	<li><a href="uploaded files/STTP- Advanced Welding Technology in 2015.pdf">STTP-AWT 2015</a></li>
			    </ul>
		</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>	
			
