<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Staff Development & Training</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
		<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" style="margin-right:20px;" height="50px" width="50px" alt="" align="middle"/>Mechanical Engineering-Staff Development & Training</h1></div>		
			<br>

		<table class="table table-striped table-hover">

	    	<thead>
				<tr class="danger">
            		<th width="10%" align="center" ><strong>Sr.No.</strong></th>
            		<th width="80%" align="center" ><strong>Facility for the Staff</th>
				</tr>
	    	</thead>
	
	        <tbody>          
          		<tr class="info">
            		<td align="center" ><strong>1</strong></td>
            		<td ><p align="justify" style ="line-height:150%"><strong>Faculty  Members are sponsored for International Conference</strong>.</p></td>
				</tr>
				
				<tr >
            		<td align="center" ><strong>2</strong></td>
            		<td ><p align="justify" style ="line-height:150%"><strong>Faculty  Members are sponsored for STTP, Workshop, Seminar and other such programs.</strong></p></td>
				</tr>
				
				<tr class="info" >
            		<td align="center" ><strong>3</strong></td>
            		<td ><p align="justify" style ="line-height:150%"><strong>Faculty  Members deputed to IITs under Quality Improvement Program (QIP) for PhD Program</strong></p></td>
				</tr>
				
				<tr >
            		<td align="center" ><strong>4</strong></td>
            		<td ><p align="justify" style ="line-height:150%"><strong>Faculty  Members encouraged to Industrial Training during Summer and Winter vacation</strong></p></td>
				</tr>			
			</tbody> 
		</table>

		
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=2 style="text-align:center;">Faculty Development Initiatives</th>
				</tr>
			</thead>
		</table>

		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=3 style="text-align:center;">Encouraging for higher education(PhD Program)</th>
				</tr>
			</thead>
		
	    	<thead>
				<tr class="danger">
            		<th width="10%" align="center" ><strong>Sr.No.</strong></th>
            		<th width="40%" align="center" ><strong>Name of the Staff</strong></th>
					<th width="50%" align="center" ><strong>Current Status</strong></th>
				</tr>
	    	</thead>
	
	        <tbody>          
          		<tr class="info" >
          		  <td align="center" >1</td>
          		  <td >Dr. S. S. Chinchanikar</td>
          		  <td >Completed </td>
       		  </tr>
          		
				
				<tr >
            		<td align="center" >2</td>
            		<td >Mr. A. D. Kale</td>
					<td >Pursuing from SPPU</td>
				</tr>
				
				<tr class="info" >
            		<td align="center" >3</td>
            		<td >Mr. P. S. Purandare</td>
					<td >Pursuing from Thapar University, Patiala</td>
				</tr>
				
				<tr >
            		<td align="center" >4</td>
            		<td >Mr. A. P. Kulkarni</td>
					<td >Pursuing from BATU University, Lonere </td>
				</tr>
				
				<tr class="info" >
            		<td align="center" >5</td>
            		<td >Mr. A. R. Mache</td>
					<td >Pursuing from IISC Banglore </td>
				</tr>
				

				<tr >
            		<td align="center" >6</td>
            		<td >Mr. A. V. Deshpande</td>
					<td >Pursuing from Bharati Vidyapeeth Deemed University</td>
				</tr>
				<tr class="info" >
				  <td align="center" >7</td>
				  <td >Mrs. S.V. Dravid</td>
				  <td >Pursuing from COEP</td>
			  </tr>
				<tr >
				  <td align="center" >8</td>
				  <td >Mr. J. G. Watve</td>
				  <td >Pursuing from COEP</td>
			  </tr>
				<tr class="info" >
				  <td align="center" >9</td>
				  <td >Mr. A. V. Salve</td>
				  <td >Pursuing from VIT</td>
			  </tr>
				<tr >
				  <td align="center" >10</td>
				  <td >Mr C. R. Ramthirthankar</td>
				  <td >Pursuing from SCOE</td>
			  </tr>
				<tr class="info" >
				  <td align="center" >11</td>
				  <td >Mr. N. H. Ambhore</td>
				  <td >Pursuing from SCOE</td>
			  </tr>
			</tbody> 
		</table>
		
		<table class="table table-striped table-hover">	
			<thead>
				<tr class="danger">
					<th colspan=3 style="text-align:center;"><strong>Encouraging for higher  education (ME / MTech)</strong></th>
				</tr>
			</thead>		
	    	
			<thead>
				<tr class="danger">
            		<th width="10%" align="center" ><strong>Sr.No.</strong></th>
            		<th width="40%" align="center" ><strong>Name of the Staff</strong></th>
					<th width="50%" align="center" ><strong>Current Status</strong></th>
				</tr>
	    	</thead>
	
	        <tbody>          
          		<tr class="info" >
            		<td align="center" >1</td>
            		<td >Mr. S. L. Shinde</td>
					<td >Completed </td>
				</tr>
				
				<tr >
            		<td align="center" >2</td>
            		<td >Mr. N. B. Kate</td>
					<td >Completed </td>
				</tr>
				<tr class="info" >
				  <td align="center" >3</td>
				  <td >Ms.  N. R. Patil</td>
				  <td >Completed</td>
			  </tr>
				<tr >
				  <td align="center" >4</td>
				  <td >Mr.  P. D. Sature</td>
				  <td >Completed</td>
			  </tr>
				<tr class="info" >
				  <td align="center" >5</td>
				  <td >Mr.  V. C. Wayal</td>
				  <td >Completed</td>
			  </tr>
				<tr >
				  <td align="center" >6</td>
				  <td >Mr.  V. R. Bhokse</td>
				  <td >Completed</td>
			  </tr>
			</tbody>			
		</table>
		</div>

		<div class="col-md-5">
			<br><br><br><br><br>
			<div class="jumbotron">
				<h2>Mechanical Engineering</h2>
				<ul>
          <li><a href="../mechanical/departmentprofile_mech">Department Profile</a></li>
          <li><a href="../mechanical/facultylist_mech">Faculty List</a></li>
          <li>Post Graduate - ME</li>
          <ul>
              <li><a href="../mechanical/aboutcourse_mech">About the course</a></li> 
              <li><a href="../mechanical/equipmentPG_mech">Equipment available for PG students</a></li> 
              <li><a href="../mechanical/publicationdetail_mech">Publication Details</a></li> 
              <li><a href="../mechanical/R&Dprojects_mech">Funded R&D Projects and Consultancy (FRDC) Work</a></li>
          </ul>
          <li><a href="../mechanical/research&publication_mech">Research & Publications</a></li>
          <li><a href="../mechanical/achievements_mech">Achievements</a></li>
          <li><a href="../mechanical/laboratory_mech">Laboratory</a></li>	  
          <li><a href="../mechanical/staffdevelopment_mech">Staff Development & Training</a></li>
          <li><a href="../mechanical/EDC_mech">Entrepreneur Development Cell</a></li>
          <li><a href="../mechanical/MESA_mech">Mechanical Engineering Student Association</a></li>
		  		<li><a href="uploaded files/Alumni Report.pdf">Alumni Meet</a></li>
		  		<li><a href="../mechanical/SAEVIIT_mech">SAE VIIT Chapter</a>
			   	<ul>
            <li><a href="uploaded files/SAEINDIA SUPRA 2016.pdf">SAEINDIA SUPRA 2016</a></li>
            <li><a href="uploaded files/SAEINDIA BAJA 2016 REPORT.pdf">SAEINDIA BAJA 2016</a></li>
			      <li><a href="uploaded files/SAEINDIA SUPRA 2015 Report(1).pdf">SAEINDIA SUPRA 2015</a></li>
			      <li><a href="uploaded files/SAE INDIA Supra 2014.pdf">SAEINDIA SUPRA 2014</a></li>
			   	</ul>
          <li><a href="../mechanical/newsletter_mech">Newsletter</a></li>	  
		  		<li><a href="../mechanical/timetable_mech">Time Table</a></li>
		  		<li><a href="../mechanical/syllabus_mech">Syllabus</a></li>
		  		<li>Parent Teacher Meet</li>
          <ul>
			    	<li><a href="uploaded files/PARENT TEACHER MEETING REPORT July 23, 2016.pdf">PARENT - TEACHER MEETING REPORT July 23, 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/Parents meet February 14, 2015.pdf">PARENT - TEACHER MEETING REPORT February 14, 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/Parent Teacher Report _Mech.pdf">PARENT - TEACHER MEETING REPORT August 9, 2014 </a></li>
			   	</ul>
			   	<ul>
			    	<li><a href="uploaded files/PARENT - TEACHER MEETING REPORT July 25, 2015.pdf">PARENT - TEACHER MEETING REPORT July 25, 2015</a></li>
			   	</ul>
			   	<li>Report</li>
         	<ul>
			    	<li><a href="uploaded files/QIP Report - I.C. Engine - 5-10 December,2016.pdf">ISTE Approved QIP- I.C. Engine 2016</a></li>
			   	</ul>
				 	<ul>
			    	<li><a href="uploaded files/MUN 2016 Report.pdf">Model United Nations (MUN’16) </a></li>
			   	</ul>	
          <ul>
			    	<li><a href="uploaded files/ISTE Approved STTP - Advanced Composite Materials in 2016.pdf">ISTE Approved STTP- Advanced Composite Materials 2016</a></li>
			   	</ul>
		      <ul>
			    	<li><a href="uploaded files/MED_NCMMM_2015_Report.pdf">NCMMM 2015</a></li>
			   	</ul>
			    <ul>
            <li><a href="uploaded files/MECHGRATIA2016-TSDP-Report.pdf">TSDP 2016</a></li>
			    	<li><a href="uploaded files/TSDP 2015_Report.pdf">TSDP 2015</a></li>
			   	</ul>
			    <ul>
			    	<li><a href="uploaded files/FDP June 2014 Report - MED.pdf">FDP 2014</a></li>
			    </ul>
          <ul>
			    	<li><a href="uploaded files/STTP- Advanced Welding Technology in 2015.pdf">STTP-AWT 2015</a></li>
			    </ul>
		</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>	
			
