<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Enginnering Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">
<div class="row-md-4">


<div class="col-md-7" style="margin-left:-10%;">
<h2 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="">  Computer Enginnering Department</h2>
<hr>

<h3 style="text-align:center;margin-bottom:1%;"><strong><u>Laboratory</u></strong></h3>
<p>
<h4>The campus is connected i.e. all labs are connected to a centralized server and all buildings are connected through fiber optic cable. Hence in all building all labs are on LAN and have internet connectivity.</h4>

</p>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">1.Comp Lab1</h3>
<strong>Hardware:</strong>
<p>
N-Computing diskless client L300 - 24 Nos. Dell 18.5” TFT Monitor , i3 -1 Nos ,24  Port Dlink switch -01 , 8  Port Dlink switch -01.</p>

<strong>Software:</strong>
<p>
Windows  Server R2008, Microsoft office 2007,  TC, TC++,Eclipse etc.. </p>

<img src="C:\Users\user\Documents\viit website\images\complab1.jpg" height="60%" width="100%"/> 
<br>



<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">2.Comp Lab2</h3>
<strong>Hardware:</strong>
<p>
Computer INTEL i3 Cpu - 21 nos., Core i3-1 nos,  Printer (EPSON LQ 300 )- 01 nos. ,TVS 3555-1 nos,  UPS  7.5  KVA ,24 Port D link switch - 01 nos,16 Port D link switch, Dyna  8051 kit-16 nos..</p>

<strong>Software:</strong>
<p>
Windows 7, Microsoft office 2007,  TC, TC++,V.B.6.0,Linux fedora18</p>

<img src="C:\Users\user\Documents\viit website\images\complab2.jpg" height="60%" width="100%"/> 

<br>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">3.Comp Lab3</h3>
<strong>Hardware:</strong>
<p>
Intel i3 cpu – 24 nos.,    Printer (EPSON LQ 300 )- 02 nos. , 24/16 Port D link switch - 02 nos.  ,UPS 7.5 KVA</p>

<strong>Software:</strong>
<p>
Windows 7, fedora 18, Microsoft Office 2007, TC++, Tasm,Win Rar, Adobe Acrobat, Visual Studio6. 
<img src="C:\Users\user\Documents\viit website\images\complab3.jpg" height="60%" width="100%"/> 

<br>



<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">4.Comp Lab4</h3>
<strong>Hardware:</strong>
<p>
 Computer Make: Dell i5 - 20 nos., Printer (EPSON LQ 300 )- 02 nos.,Switch: D link 24 Port & 16 Port. </p>

<strong>Software:</strong>
<p>
Windows 7, MS office 2007, TC, Oracle, Java, Rational Rose, V.B.6.0, & Fedora 18.</p> 
<img src="C:\Users\user\Documents\viit website\images\complab4.jpg" height="60%" width="100%"/> 

<br>




<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">5.Comp Lab5</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab5.jpg" height="60%" width="100%"/> 

<br>





<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">6.Comp Lab6</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab6.jpg" height="60%" width="100%"/> 

<br>


<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">7.Comp Lab7</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab7.jpg" height="60%" width="100%"/> 

<br>




<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">8.Comp Lab8</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab8.jpg" height="60%" width="100%"/> 

<br>



<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">9.Comp Lab9</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab9.jpg" height="60%" width="100%"/> 

<br>



<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">10.Comp Lab10</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab10.jpg" height="60%" width="100%"/> 

<br>




<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">11.Comp Lab11</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab11.jpg" height="60%" width="100%"/> 

<br>



<h3 style="background-color:grey;color:white;text-align:center;margin-bottom:1%;">12.Comp Lab12</h3>
<strong>Hardware:</strong>
<p>
Computer Intel Core i3  Cpu – 24 nos., Intel i3 Cpu - 11 nos. Intel i3 cpu – 1nos.,Printer (EPSON LQ 300 ) - 03 nos. , 24 Port D link switch - 02 nos.
</p>

<strong>Software:</strong>
<p>
Microsoft Office 2007, TC++, Tasm, Win Rar, Adobe Acrobat, Visual Studio6, Oracle 9i, Rational Rose Ent. Edi., Mat lab 7,Java1.6.,fedora18.
</p> 
<img src="C:\Users\user\Documents\viit website\images\complab12.jpg" height="60%" width="100%"/> 

<br>







</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;margin-right:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Computer Department</h2><hr>
			<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past Three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>














</div>
</div>
</div>
</div>
</div>
</body>
</html>
