<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\cybercell.jpg" height="50px" width="50px" alt=""> VIIT Cyber Cell</h3>
<hr>

<p>
VIIT has established a CYBER-CELL at the institute level in December 2013. The activities under this cell is expected to encompass all the departments of VIIT.
</p>
<br>
<p>
Society at large and specifically IT fraternity should be aware of security breaches on computer networks and the consequences of cyber-attacks in general. We should have relevant knowledge to detect and curb menaces like cyber pornography , email spoofing, spamming , bombing , online shopping frauds , credit card frauds , computer security issues, romance/dating scam , banking/credit card related crimes , identity thefts , safety in banking and social networking site , safety tips for mobile phone users , cyber stalking , call SMS forging, et
</p>
<br>

<h3><strong>The objectives behind having such Cyber Cell at VIIT is to:</strong></h3>
<ul>
<li>Create awareness about cyber security and crimes amongst VIIT members. </li>
<li>Indulge in short-term training programs for engineering community and society at large.</li>
<li>Provide educational and professional consultancy to the outside world. </li>
<li>Promote research at institute level.</li>
</ul>

<h3><strong>Achievements:</strong></h3>
<ul>
<li>Best Project award in Rotary Dist. 3131, to our 'Cyber Security Awareness Programs' conducted in many schools and colleges in association with VIIT college.<img src="C:\Users\user\Documents\viit website\images\rotaryclub1.jpg" width="80%" height="50%"></li>
<li>Secured first place in SciTech 2015 .<img src="C:\Users\user\Documents\viit website\images\certificate2.jpg" width="80%" height="50%"></li>
</ul>

<br>

<h3><strong>Events Planned and Organized by the Cyber Cell:</strong></h3>
<br>

<table class="table table-striped table-hover">
<thead style="background-color:grey;color:white;">
<th>Sr.No.</th>
<th>Event Name</th>
<th>Speaker/Guest</th>
<tbody>
<tr class="danger">
<td>1</td>
<td>Cyber Security Session - Wifi configuration, Wifi password hacks, Wifi mac address bypassing techniques ad counter measure. </td>
<td>Dr.K.R.Patil and Qaidjohar</td>
</tr>

<tr class="danger">
<td>2</td>
<td>Cyber Security Awareness Programme at VIIT, Pune</td>
<td>Dr. K R Patil, Prathamesh Chavan (Mozilla India Rep), Parth Kelekar, Hrushikesh Vaze, Sanket Kulthe)</td>
</tr>

</tbody>
</thead>


</table>





</div>






		<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Computer Department</h2><hr>
			<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past Three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>


</div>
</div>
</div>
</div>
</div>
</body>
</html>
