<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt=""> Computer Engineering Department</h3>
<hr>


 <table class="table table-striped table-hover">
<thead class="jumbotron" style="background-color:grey;">
<tr style="text-align:center;">
<th style="color:white;text-align:center;">Sr.No.</th>
<th style="color:white;text-align:center;">Name of the Staff</th>
<th style="color:white;text-align:center;">Qualification</th>
<th style="color:white;text-align:center;">Designation</th>
</tr>
</thead>    

<tbody>

      <tr >
        <td style="text-align:center"><strong>1</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Prof. Dr. S. R. Sakhare</strong></td style="text-align:center">
      <td style="text-align:center"><strong></strong>Ph.D.</td style="text-align:center">
      <td style="text-align:center"><strong>Professor & HOD</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>2</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Prof. Dr. A. S. Abhyankar</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Ph.D.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>3</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Prof. Dr. K. R. Patil</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Ph.D.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>4</strong></td style="text-align:center">
       <td style="text-align:center"><strong> Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong> Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Associate Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>5</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Ms. L. A. Deshpande</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>6</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Ms. L. A. Bewoor</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr  >
        <td style="text-align:center"><strong>7</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Ms. M. P. Mali </strong></td style="text-align:center">
      <td style="text-align:center"><strong>Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor(P.G.Co-ordinator)</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>8</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Ms. P. R. Rege<strong></td style="text-align:center">
      <td style="text-align:center"><strong>Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>9</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr.Y. V. Dongre</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>



      <tr>
        <td style="text-align:center"><strong>10</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr. S. J. Thaware</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>



      <tr > 
        <td style="text-align:center"><strong>11</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Ms. P. D. More</strong></td style="text-align:center">
      <td style="text-align:center"><strong> Ph.D Pursuing</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>



      <tr>
        <td style="text-align:center"><strong>12</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Ms. S. A. Tiwaskar</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>



      <tr >
        <td style="text-align:center"><strong>13</strong></td style="text-align:center">
       <td style="text-align:center"><strong> Ms. V. A. Mishra</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>14</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Ms. V. V. Meshram</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>15</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Ms. Snehal Rathi</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>16</strong></td style="text-align:center">
       <td style="text-align:center"><strong> Ms. V. S. Gaikwad</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr > 
        <td style="text-align:center"><strong>17</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. S. B. Tatale</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech/strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>18</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Ms. M. P. Karnik</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>



      <tr >
        <td style="text-align:center"><strong>19</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. V. A. Meshram</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>20</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr.Y. K. Sharma</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>21</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr. F. M. Inamdar</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>22</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Dr. Amit Barve</strong></td style="text-align:center">
      <td style="text-align:center"><strong> Ph.D</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>23</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. S. G. Walunj</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>24</strong></td style="text-align:center">
       <td style="text-align:center"><strong> Mr. R. G. Masand </strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr >
        <td style="text-align:center"><strong>25</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Ms. D. S. Maind </strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>


      <tr>
        <td style="text-align:center"><strong>26</strong></td style="text-align:center">
       <td style="text-align:center"><strong> Ms. N. R. Kasture</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr >
        <td style="text-align:center"><strong>27</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Prof. (Ms). V. T. Pokale</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech </strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>28</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr. A. A. Bhosale</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr >
        <td style="text-align:center"><strong>29</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Ms. P. P. Wagaj</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>30</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. P. V. Khandare</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr >
        <td style="text-align:center"><strong>31</strong></td style="text-align:center">
       <td style="text-align:center"><strong>  	Mr. A. P. Katade </strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>32</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. N. N. Sakhare</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr >
        <td style="text-align:center"><strong>33</strong></td style="text-align:center">
       <td style="text-align:center"><strong>  	Ms. N. S. Bhirud</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>34</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. P. P. Kharade</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr >
        <td style="text-align:center"><strong>35</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr. G. C. Shelke</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.Tech</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>36</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mr. Vikas Kolekar</strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr >
        <td style="text-align:center"><strong>37</strong></td style="text-align:center">
       <td style="text-align:center"><strong>Mrs. Samrin Shaikh </strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Assistant Professor</strong></td style="text-align:center">
      </tr>

      <tr>
        <td style="text-align:center"><strong>38</strong></td style="text-align:center">
       <td style="text-align:center"><strong> 	Mr. Vivek Ghule </strong></td style="text-align:center">
      <td style="text-align:center"><strong>M.E.(Pursuing)</strong></td style="text-align:center">
      <td style="text-align:center"><strong>Lecturer</strong></td style="text-align:center">
      </tr>

</tbody>

</table>




</div>






			<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">E&TC Department</h2><hr>
				<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past Three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>



</div>
</div>
</div>
</div>
</div>
</body>
</html>
