<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\firefoxclub.jpg" height="50px" width="50px" alt=""> VIIT Firefox Club</h3>
<hr>


<p>

VIIT Firefox Club aims to provide education to masses with latest computer technologies and open web technologies. We introduce our students to international coding standards and help them to develop their employability skills. the Computer Department Faculties are organizing and managing the Firefox Club events. 
</p>


<p>
<h4><strong>the Objectives :</strong></h4>
<ul>
<li>Introduce International coding standards to the students.</li>
<li>Enhance Employability skills of the students.</li>
<li>Introduce Open Web technologies to the students.</li>
</ul>
</p>


<p>
<h4><strong>Connected Devices Laboratory:</strong></h4><br>
Connected devices are altering human requirements and making people more dependent on them. In the IP-connected IoT, IP-enabled tiny and heterogeneous sensors are con- nected to the Internet. the IoT industry is still evolving, and there is large potential for zero-day attacks. this offers an opportunity to study and develop flexible but effective security solutions for IoT. the aim of the proposed IoT-based laboratory to connect and help students/volunteers who will invent, shape and defend the Internet.<br>
<strong>Objectives of the Lab:</strong><br>
the objectives of the project are aligned with the key Internet issues of Mozilla. <br>
<ol>
<li>Online Privacy & Security: Organize hackathons on connected devices Security is- sues to spread IoT security knowledge. It will help us to make competent computer science engineering students who have essential knowledge and technical skills to tackle challenges in IoT infrastructure.</li>
<li>Open Innovation: To unlock the next wave of openness and opportunity on the Internet, the proposed IoT laboratory will provide space for volunteers to develop,test and experiments on IoT-based solutions.</li>
<li>Web Literacy: Students/Volunteers will acquire the skills to read, write and participate in the IoT-based digital world.</li>
</ol><br>
<strong>Outputs:</strong><br>
the Following Criteria will be used to measure Outcomes.
<ol>
<li>Number of Events/Workshops/hackathons conducted on Connected Devices.</li>
<li>Innovative Solutions Developed/Projects Completed.</li>
</ol>
<br><br>

<table class="table table-striped table-hover">
<thead style="background-color:grey;color:white;">
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Event Name</th>
<th style="text-align:center;">Speaker/Guest</th>
</thead>

<tbody>
<tr class="danger">
<td>1</td>
<td>Firefox Event at VIIT, Pune</td>
<td>Dr. K R Patil, Prathamesh Chavan (Mozilla India Rep), Parth Kelekar, Hrushikesh Vaze, Sanket Kulthe)</td>
</tr>
</tbody>
</table>










</div>



		<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Computer Department</h2><hr>
				<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>


</div>
</div>
</div>
<img src="C:\Users\user\Documents\viit website\images\firefoxclub1.jpg" >

</div>
</div>
</body>
</html>
