	
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7" >

<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt=""> Computer Engineering Department</h3>
<hr>

<h3 style="background-color:grey;color:white;text-align:center;">Microsoft IT Academy</h3>

<div class="jumbotron" style="margin-top:-2%;">

<p style="font-size:100%;">
<strong>
It’s a subscription-based membership program designed to help schools offer students and faculty learning solutions for IT skills training and certification as well as technology essentials for professionals. Access to these resources can help students build a successful future with the skills that employers demand. Microsoft IT Academy offers the opportunity for faculty to stay up to date on the latest Microsoft technologies. Best of all, its built-in flexibility makes it easy to integrate these technologies into new or existing curricula, so schools can tailor classes to meet the needs of students of all ages and levels of experience. 

</strong>
</p>

<br><br>

<p style="font-size:100%;">
<strong>

Microsoft IT Academy is a comprehensive program that helps support ongoing technology education for a wide range of students, teachers, and faculty. The program features access to software licenses, E-Learning, official Microsoft course materials, and certifications. E-Learning and course materials range from computer basics to high-level programming, along with information and communications technology (ICT) management.<br>
Certifications cover the spectrum of professions within the IT industry, carefully developed with experts from the workforce to ensure validity and reliability<br>
Microsoft IT academy started in 2012. Till date 145 students are registered since inception and completed Level I and II certification.This certification help students for their placements.
</strong>
</p>
</div>

<br>

<h3 style="background-color:grey;color:white;text-align:center;">MS-IT Workshop for Faculty</h3>
<br>




<img src="C:\Users\user\Documents\viit website\images\ms-it.jpg" height="50%" width="100%">

</div>




	<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Computer Department</h2><hr>
				<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past Three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>

</div>
</div>
</div>
</div>
</div>
</body>
</html>