<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7" >


<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt=""> Computer Engineering Department</h3>
<hr>


<h3 style="background-color:grey;text-align:center;font-size:200%;color:white;">Summary Report of Research and Publication</h3>



<table class="table table-striped table-hover" style="margin-top:-2%;font-size:110%;">
<thead style="background-color:grey;color:white;">
<th style="text-align:center;">Period</th>
<th style="text-align:center;">International Journal</th>
<th style="text-align:center;">International/national Conference</th>

</thead>



<tbody>

<tr   style="text-align:center;">
<td><a href="http://www.viit.ac.in/uploaded%20files/PublicationDtails15-16.pdf">2015-16</a></td>
<td></td>
<td></td>
</tr>

<tr  style="text-align:center;">
<td><a href="http://www.viit.ac.in/uploaded%20files/comp-2014-2015.pdf">2014-15</a></td>
<td>24</td>
<td>14</td>
</tr>

<tr   style="text-align:center;">
<td><a href="http://www.viit.ac.in/uploaded%20files/comp-2013-2014.pdf">2013-14</a></td>
<td>16</td>
<td>15</td>
</tr>

<tr  style="text-align:center;">
<td><a href="http://www.viit.ac.in/uploaded%20files/comp-2012-2013.pdf">2012-13</a></td>
<td>11</td>
<td>08</td>
</tr>

<tr   style="text-align:center;">
<td><a href="http://www.viit.ac.in/uploaded%20files/comp-2011-2012.pdf">2011-12</a></td>
<td>05</td>
<td>06</td>
</tr>

</tbody>
</table>


<br><br>


<table class="table table-bordered" style="margin-top:-2%;font-size:110%;">
<thead style="background-color:grey;color:white;">
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Year</th>
<th style="text-align:center;">No. of Student's Publication</th>

</thead>



<tbody>

<tr   style="text-align:center;">
<td>1</td>
<td>2014-15</td>
<td>15</td>
</tr>

<tr   style="text-align:center;">
<td>2</td>
<td>2013-14</td>
<td>41</td>
</tr>


<tr   style="text-align:center;">
<td>3</td>
<td>2012-13</td>
<td>61</td>
</tr>


<tr   style="text-align:center;">
<td>4</td>
<td>2011-12</td>
<td>15</td>
</tr>


</tbody>
</table>

</div>


			<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Computer Department</h2><hr>
				<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past Three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>













</div>
</div>
</div>
</div>
</div>
</body>
</html>
