<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computer Department</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
<div class="responsive">

<div class="row-md-4">
<div class="col-md-7" >

<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt=""> Computer Engineering Department</h3>
<hr>

<h3 style="color:blue;text-align:center;">Sponsored Research Project</h3>

<table class="table table-striped table-hover" style="margin-top:-2%;">

<thead style="background-color:grey;color:white;">
<th>Sr.No.</th>
<th>Year</th>
<th>Name of the Project</th>
<th>Name of the PI</th>
<th>Amount Received</th>
<th>Sponsoring Authority</th>
</thead>

<h4 style="text-align:center;color:red;"  ><strong>Research Funding Received At International Level</strong></h4>

<tbody>

<tr >
<td>1</td>
<td>2011-12</td>
<td> 	Travel Grant for 31-International Conference on Distributed Computing ICDCS-2011 at Minneapolis Minnesota USA</td>
<td>Dr. K. R. Patil</td>
<td>1,31,014</td>
<td>NSU Singapore</td>
</tr>


<tr >
<td>2</td>
<td>2012-13</td>
<td>User Specified Content Security Policy</td>
<td>Dr. K. R. Patil</td>
<td>3,15,945</td>
<td>Google,USA</td>
</tr>

<tr >
<td>3</td>
<td>2013-14</td>
<td>Security Report Tool</td>
<td>Dr. K. R. Patil</td>
<td>3,15,945</td>
<td>Google,USA</td>
</tr>


<tr >
<td>4</td>
<td>2013-14</td>
<td> 	Travel Grant :Visit to Mozilla Santa Clara</td>
<td>Dr. K. R. Patil</td>
<td> 	74,615</td>
<td>Mozilla</td>
</tr>


<tr >
<td>5</td>
<td>2014-15</td>
<td>Travel Grant: Visit to Mozilla Bangaluru</td>
<td>Dr. K. R. Patil</td>
<td>19,474</td>
<td>Mozilla</td>
</tr>
</tbody>
</table>




<table class="table table-striped table-hover" style="margin-top:1%;">

<h4 style="text-align:center;color:red;"  ><strong>Research Funding Received At State Level</strong></h4>

<tbody>
<tr >
<td>1</td>
<td>2011-12</td>
<td> 	Enhancing E-Business capabilities: A generic text summarizer</td>
<td>Prof. R.S.Prasad</td>
<td>1,00,000</td>
<td> 	BCUD Pune</td>
</tr>


<tr >
<td>2</td>
<td>2011-12</td>
<td>Image quality assessment</td>
<td>Prof. K. H. Wanjale</td>
<td>1,50,000</td>
<td> 	BCUD Pune</td>
</tr>
<tr >
<td>3</td>
<td>2013-14</td>
<td> 	Surveillance system that detects and prevents malicious user behavior on multiple remote desktops.</td>
<td>Prof.S.J.Thaware
Dr. K.R. Patil</td>
<td>65,000</td>
<td> 	BCUD Pune</td>
</tr>
<tr >
<td>4</td>
<td>2013-14</td>
<td> 	Symantec video retrieval</td>
<td> 	Prof. S. A. Tiwaskar
Prog. P. R. Rege</td>
<td>65,000</td>
<td> 	BCUD Pune</td>
</tr>
<tr >
<td>5</td>
<td>2013-14</td>
<td>Video summarization motion behavior analmony analysis in video scene</td>
<td>Prof. P.D.More</td>
<td>1,05,000</td>
<td> 	BCUD Pune</td>
</tr>

<tr >
<td>6</td>
<td>2013-14</td>
<td>Hierarchical event detection & classification for outdoor sport video</td>
<td>Prof.B. S. Khade</td>
<td>47,500</td>
<td> 	BCUD Pune</td>
</tr>
<tr >
<td>7</td>
<td>2014-15</td>
<td>Virtual book review system</td>
<td>Prof. K. H. Wanjale</td>
<td>90,000</td>
<td> 	BCUD Pune</td>
</tr>
<tr >
<td>8</td>
<td>2014-15</td>
<td> 	Criminal identification system using data mining</td>
<td>Prof. S. B. Tatale
Dr. S. R. Sakhare</td>
<td>90,000</td>
<td> 	BCUD Pune</td>
</tr>

</tbody>
</table>




<table class="table table-striped table-hover" style="margin-top:1%;">

<h4 style="text-align:center;color:red;"  ><strong>Research Funding Received At Trust Level</strong></h4>

<tbody>
<tr >
<td>1</td>
<td>2014-15</td>
<td> Neuro-Fuzzy approach for sentiment classification analysis</td>
<td>Prof M. P. Mali
Prof. V. V. Meshram
Prof. A. P. Katade</td>
<td>60,000</td>
<td> 	VISHWAKARMA Research Project Scheme</td>
</tr>


<tr >
<td>2</td>
<td>2014-15</td>
<td> Machine learning based recommendation system</td>
<td>Prof. S. G. Walunj</td>
<td>70,000</td>
<td> 	VISHWAKARMA Research Project Scheme</td>
</tr>


<tr >
<td>3</td>
<td>2014-15</td>
<td> A tool for mining functional dependencies in relational databases</td>
<td>Prof. Y. V. Dongre</td>
<td>70,000</td>
<td> 	VISHWAKARMA Research Project Scheme</td>
</tr>


</tbody>
</table>

<h2 style="text-align:center;color:red;"  ><strong>Total :17,63,493</strong></h2>












</div>





			<br><br><br><br><br><br>
<div class="col-md-5"  >
			<div class="jumbotron"style="margin-left:10%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Computer Department</h2><hr>
				<ul>
				   <h4>Training and Placement</h4>
                                  <ul>
                                  <li><a href="../computer/achievements">Top Recruiters</a></li>
				  <li><a href="../computer/placement_last_3_years">Placement Details for the Past Three Years</a></li>
				  
                                  <li><a href="../computer/department_profile">Department Profile</a></li>
				  <li><a href="../computer/faculty_list">Faculty List</a></li>
				  </ul>
                                   <h4>Post Graduate-ME</h4>
                                  <ul>
                                  <li><a href="../computer/features_of_program">Features of the Program</a></li>
				  <li><a href="../computer/research_lab_equi">Research labs-equipments available for PG Students</a></li>
				  <li><a href="../computer/placement_details">Placement Details</a></li>
				  <li><a href="../computer/result">Result</a></li>
				  <li><a href="../computer/research_domain">Research Domain</a></li>
				  <li><a href="../computer/tie_ups">Tie-ups with Industries and Research Organizations</a></li>
				  </ul>
                                  <li><a href="../computer/research_and_publications">Research and Publications</a></li>
				  <li><a href="../computer/achievements">Achievements</a></li>
				  
                                  <li><a href="../computer/obe">OBE</a></li>
				  <ul>
                                  <li><a href="../computer/dab">DAB</a></li>
				  <li><a href="../computer/pac">PAC</a></li>
				  <li><a href="../computer/module_coordinator">Module Co-ordinator</a></li>
				  </ul>
                                  <li><a href="../computer/comp_laboratory">Laboratory</a></li>
				  
                                  <li><a href="../computer/sponsored_research_project">Sponsored Research Project</a></li>
				  <li><a href="../computer/microsoft_it_academy">Microsoft IT Academy</a></li>
				  <li><a href="../computer/csi">CSI</a></li>
				  <li><a href="../computer/cybercell">VIIT Cyber Cell</a></li>
				  <li><a href="../computer/firefox_club">VIIT Firefox Club</a></li>
				  <li><a href="../computer/patents_and_copyrights">Patents and Copyrights</a></li>
				  <li><a href="../quick links/iot">IOT</a></li>
				  <li><a href="../computer/time_table">Time Table</a></li>

</div>
</div>
</div>
</div>
</div>
</body>
</html>