<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="row-md-4">
<div class="responsive">
<div class="col-md-9">
			
<h1><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif"  height="50px" width="50px" alt="" /> Placement Details</h1>		<br>
<table class="table table-bordered table-hover" style="margin-left:-10%;margin-right:-30%;">
<thead style="background-color:grey;color:white;">
<tr>
<td>Sr.No.</td>
<td>Branch</td>
<td>2005-2006</td>
<td>2006-2007</td>
<td>2007-2008</td>
<td>2008-2009</td>
<td>2009-2010</td>
<td>2010-2011</td>
<td>2011-2012</td>
<td>2012-2013</td>
<td>2013-2014</td>
<td>2014-2015</td>
<td>2015-2016</td>
<td>2016-2017</td>
</tr>
</thead>
<tbody>

<tr class="danger">
<td>Sr.No.</td>
<td>E&TC Engg</td>
<td>35</td>
<td>47</td>
<td>52</td>
<td>46</td>
<td>22</td>
<td>61</td>
<td>53</td>
<td>49</td>
<td>54</td>
<td>63</td>
<td>73</td>
<td>60</td>
</tr>

<tr class="danger">
<td>1</td>
<td>COMP Engg</td>
<td>40</td>
<td>28</td>
<td>55</td>
<td>44</td>
<td>46</td>
<td>56</td>
<td>85</td>
<td>60</td>
<td>58</td>
<td>99</td>
<td>102</td>
<td>84</td>
</tr>

<tr class="danger">
<td>2</td>
<td>IT Engg</td>
<td>21</td>
<td>27</td>
<td>49</td>
<td>41</td>
<td>39</td>
<td>35</td>
<td>39</td>
<td>24</td>
<td>28</td>
<td>22</td>
<td>29</td>
<td>22</td>
</tr>

<tr class="danger"> 
<td>3</td>
<td>MECH Engg</td>
<td><td><td><td><td>2nd Batch of Engineers</td></td></td></td></td>
<td>31</td>
<td>19</td>
<td>16</td>
<td>05</td>
<td>44</td>
<td>40</td>
<td>15</td>
</tr>

<tr class="danger">
<td>4</td>
<td>CIVIL Engg</td>
<td><td><td><td><td><td>1st Batch of Engineers</td></td></td></td></td></td>
<td>06</td>
<td>14</td>
<td>13</td>
<td>06</td>
<td>16</td>
<td>04</td>
</tr>

<tr class="danger">
<td>5</td>
<td>ME COMP Engg</td>
<td><td><td><td><td><td></td></td></td></td></td></td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>04</td>
<td>04</td>
<td>00</td>
</tr>

<tr class="danger">
<td>6</td>
<td>ME E&TS Engg</td>
<td><td><td><td><td><td></td></td></td></td></td></td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>05</td>
<td>06</td>
<td>00</td>
</tr>
</table>
</div>


<br><br><br><br><br>
<div class="col-md-3">
	<div class="jumbotron" style="background-color:black;margin-right:-8%;margin-left:-4%;">
	<h2 style="color:red;margin-top:0%; text-align=center;">Training Placement Details</h2>
        <ul>
           <li><a href="http://www.viit.ac.in/tnp-dept.html">Department Profile</a></li>
           <li><a href="http://www.viit.ac.in/tnp-campus-recruitment.html">Campus recruitment</a></li>
	 <li><a href="http://www.viit.ac.in/tnp-training.html">Training</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Companies%20Visited%20VIIT%20for%20Campus%20Recruitment.pdf">Companies Visited</a></li>
<li><a href="http://www.viit.ac.in/tnp-placement-details.html">Consolidated Placement Report(Summary)</a></li>
	  	  
<h4>Yearwise Placement Summary</h4>
	  <ul>
          <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2016-2017%20Placement%20Report.pdf">2016-2017</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2015-2016%20Placement%20Report.pdf">2015-2016</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2014-2015%20Placement%20Report.pdf">2014-2015</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2013-2014%20Placement%20Report.pdf">2013-2014</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2012-2013%20Placement%20Report.pdf">2012-2013</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Placement%20Report%20Period%20From%2015th%20JULY%202011%20to%2017th%20August%202013.pdf">2011-2012</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2010-2011%20Placement%20Report.pdf">2010-2011</a></li>
      </ul>
</ul>





</div>
</div>
</div>
</div>
</body>
</html>
