<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
		<div class="row-md-4">
<div class="responsive">
			<div class="col-md-7">
			
<h1><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif"  height="50px" width="50px" alt="" />  Training</h1>		<br>





			<table class="table table-bordered">
		        <tbody>
			<tr>
					<td width="18%" rowspan="9" align="center" valign="top"  ><img src="C:\Users\user\Documents\viit website\images\trainingplacement.jpg" width="110" height="100"/></td>
              		<td colspan="2"><strong>Mrs.Sampada Viraj Dravid</strong></td>
            	        </tr>
				<tr>
		          	<td colspan="2"><strong>In-Charge Training and Placement Officer </strong></td>
		                </tr>
		        <tr>
		          	<td width="25%"><strong>Qualification</strong></td>
				  	<td> 	D.Met.,B.E.,M.E. (Metallurgy).LMISTE.,LMCSI</td>
		        </tr>
		        <tr>
		          <td width="25%"><strong>Experience</strong></td>
				  <td>17 years( 17 years in teaching , 6year in T&P)<br>
				  </td>
		        </tr>
		        <tr>
		          <td width="25%"><strong>Paper Publications</strong></td>
				  <td><ul>
<li>Paper published in International Conference & International Journal : 01</li>
<li>Paper published in national Journal : 01</li>
<li>Technical paper published at National Level : 09 </li>
</ul></td>
		        </tr>
		        <tr>
		          <td width="25%"><strong>Email ID</strong></td>
				  <td> 	placement@viit.ac.in sampada.dravid@gmail.com  </td>
		        </tr>
		        <tr>
		          <td width="25%"><strong>R & D Projects</strong></td>
				  <td> Completed Research Project worth Rs. 1,50,000/- under Pune University of "Mathematical Modeling To Derive Relationship Between Machinability & Process Capability Analysis" </td>
				</tr>				
			
<tr>
		          <td width="25%"><strong>Contact No</strong></td>
				  <td> 	020-26932600, 26932300 (EXT: 210), 9422001821</td>
				</tr>				
			
</table>
	
<p style="width:100%;font-size:120%;">
Training & Placement cell at VIIT is having its unique way of training the students not only for placing them in private sector, but to help them develop a mesmerizing personality for choosing a perfect career.
</p>

<p style="width:100%;font-size:120%;">

Initially, the second years are given upon; inputs which meticulously continue till the third year. Not only in-house faculties but also industrial experts, professional trainers contribute unanimously in grooming and shaping the students to face the competitive industrial world. 
</p>


<p style="width:100%;font-size:120%;">

As far as placements are concerned VIIT and VIT always have a single motto that students must be placed appropriately. But, as the sculptor is for a sculpture; training is for placement. Placement wise our college stands in top five engineering colleges in Pune.
</p>

		

		</div>
		

br><br><br><br><br>
<div class="col-md-3">
	<div class="jumbotron" style="background-color:black;margin-right:-8%;margin-left:-4%;">
	<h2 style="color:red;margin-top:0%; text-align=center;">Training Placement Details</h2>
        <ul>
           <li><a href="../placement/department_profile">Department Profile</a></li>
           <li><a href="../placement/placements1_homepage_and_campus_recruitment_page">Campus recruitment</a></li>
	 <li><a href="../placement/training">Training</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Companies%20Visited%20VIIT%20for%20Campus%20Recruitment.pdf">Companies Visited</a></li>
<li><a href="../placement/consolidated_placement_report">Consolidated Placement Report(Summary)</a></li>
	  	  
<h4>Yearwise Placement Summary</h4>
	  <ul>
          <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2016-2017%20Placement%20Report.pdf">2016-2017</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2015-2016%20Placement%20Report.pdf">2015-2016</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2014-2015%20Placement%20Report.pdf">2014-2015</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2013-2014%20Placement%20Report.pdf">2013-2014</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2012-2013%20Placement%20Report.pdf">2012-2013</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Placement%20Report%20Period%20From%2015th%20JULY%202011%20to%2017th%20August%202013.pdf">2011-2012</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2010-2011%20Placement%20Report.pdf">2010-2011</a></li>
      </ul>
</ul>





</div>
</div>
</div>
</div>
</body>
</html>



