<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>







<div class="container">
<div class="row-md-4">
<dov class="responsive">
<div class="col-md-7">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="" align="middle"/>Campus Recruitment</h1>
<hr>


<pre style="background-color:white;margin-right:40%;width:100%;">
<strong style="color:black;">We at VIIT taking help and extending help to all other TPO s for betterment of student 
community. We proudly say that VIIT had established a landing platform in recruitment of 
fresh engineers for leading companies in India.
For example: </strong>
</pre>






  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td style="color:red;">Google Online (I) Pvt. Ltd.</td>
      </tr>
      <tr >
        <td style="color:red;">NSE.iT Ltd.</td>
      </tr>
      <tr >
        <td style="color:red;">Campus  Connect</td>
      </tr>
<tr >
        <td style="color:red;">Adobe (I) Pvt. Ltd. </td>
      </tr>
<tr >
        <td style="color:red;">Keane International Ltd.</td>
      </tr>
<tr >
        <td style="color:red;">Huawei Technologies Co. Ltd.</td>
      </tr>

    </tbody>
  </table>


<pre style="background-color:white;margin-right:40%;width:100%;">
<strong style="color:black;">In lIn last 11 years, students have received 1877 offers from 206 different organizations.
 Some of them are our regular recruiters. 
To name a few:  </strong>
</pre>



<table class="table table-striped table-hover" >
    <tbody>
      <tr >
        <td style="color:red;">Infosys Technologies Ltd.> </td>
      </tr>
      <tr >
        <td style="color:red;">Wipro Technologies Ltd.</td>
      </tr>
      <tr >
        <td style="color:red;">KPIT Cummins Infosystems Pvt. Ltd.</td>
      </tr>
<tr >
        <td style="color:red;">Cognizant Technology Solutions Pvt. Ltd </td>
      </tr>
<tr >
        <td style="color:red;">Sungard Systems Ltd. </td>
      </tr>
<tr >
        <td style="color:red;">Barclays Technology Centre (I) Pvt. Ltd.</td>
      </tr>

    </tbody>
  </table>
</div>

br><br><br><br><br>
<div class="col-md-3">
	<div class="jumbotron" style="background-color:black;margin-right:-8%;margin-left:-4%;">
	<h2 style="color:red;margin-top:0%; text-align=center;">Training Placement Details</h2>
        <ul>
           <li><a href="../placement/department_profile">Department Profile</a></li>
           <li><a href="../placement/placements1_homepage_and_campus_recruitment_page">Campus recruitment</a></li>
	 <li><a href="../placement/training">Training</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Companies%20Visited%20VIIT%20for%20Campus%20Recruitment.pdf">Companies Visited</a></li>
<li><a href="../placement/consolidated_placement_report">Consolidated Placement Report(Summary)</a></li>
	  	  
<h4>Yearwise Placement Summary</h4>
	  <ul>
          <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2016-2017%20Placement%20Report.pdf">2016-2017</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2015-2016%20Placement%20Report.pdf">2015-2016</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2014-2015%20Placement%20Report.pdf">2014-2015</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2013-2014%20Placement%20Report.pdf">2013-2014</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2012-2013%20Placement%20Report.pdf">2012-2013</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Placement%20Report%20Period%20From%2015th%20JULY%202011%20to%2017th%20August%202013.pdf">2011-2012</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2010-2011%20Placement%20Report.pdf">2010-2011</a></li>
      </ul>
</ul>





</div>
</div>
</div>
</div>
</body>
</html>

