<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
		<div class="row-md-4">
<div class="responsive">
			<div class="col-md-7">
			
<h1><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif"  height="50px" width="50px" alt="" />  Training</h1>		<br>
	
<p style="width:100%;">
VIIT has established Training & Placement Cell for training students not only to meet industry need but also to guide the students for their "CAREER". Training starts from second year of the B.E. Course. In 1st training session, students were made aware about themselves & the suitable career choice as per indivisual's personality.This is done with the help of MBTI test. Students are exposed to different aspect of their career thro' 3 different training workshops during two years of training, which is conducted by industry professionals at VIIT. Students are trained for different attributes of their overall personality development e.g. coping up with pressure & Setbacks, assertiveness, analytical ability, logical reasoning, Inter personal skills & Communication, Leadership development, etc. 
</p>


<p style="width:100%;">
VIIT is also promoting some other courses in its own premises for adding more value in our student's knowledge & overall personality. These courses are BEC, CPBM, GRE, TOEFL, IELTS, GMAT, SAT1, SAT2, etc.
</p>

<p style="width:100%;">
BEC(Business English Certification) is assessed & certified by University Of Cambridge UK. CPBM(Certificate Programme in Business Management) is specially designed course for Third Year student of B.E. course and run by SJMSOM,IIT Powai Mumbai.For running other courses related to promoting "Higher Education" we are taking help of well known professional training institutes in Maharashtra.
</p>

<p style="width:100%;">
Besides training the budding engineers for the global acceptance in their area of specialization, we do conduct full 100 hrs training program from third year in the area of Aptitude, Logical reasoning, English etc. through trained faculties
</p>


<p style="width:100%;">
There are certain personality traits found in every human being. Training the budding engineers in unidirectional way is a monotonous way of grooming. For value addition and global acceptance of our students we try to add different dimensions in our training for grooming the professionals. We do this by inviting guest faculties for training sessions of our engineering students. To summarize with here are few: 
</p>


<table class="table table-striped table-hover">
            <tr >
              <td width="9%" align="center" ><strong>1</strong></td>
              <td width="46%" >Mr. Koustubh  Bhadbhade</td>
              <td width="50%" >Persistent Systems LTD.</td>
            </tr>
            <tr >
              <td align="center" ><strong>2</strong></td>
              <td >Ms.  Sushama Pannicker </td>
              <td >Wipro Technologies</td>
            </tr>
            <tr >
              <td align="center" ><strong>3</strong></td>
              <td >Mr.  Aniket Kolee </td>
              <td >TCS,  Pune </td>
            </tr>
            <tr >
              <td align="center" ><strong>4</strong></td>
              <td >Ms. Noyonika Bhaduri </td>
              <td > TCS, Pune </td>
            </tr>
            <tr >
              <td align="center" ><strong>5</strong></td>
              <td >Ms. Youthika J. Rai</td>
              <td >TCS, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>6</strong></td>
              <td >Mr. John Augustine </td>
              <td >TRDDC, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>7</strong></td>
              <td >Ms. Renuka Krishna </td>
              <td >KPIT Cummins Infosystems, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>8</strong></td>
              <td >Mr. Pravin Mule </td>
              <td >KPIT Cummins Infosystems, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>9</strong></td>
              <td >Mr. Mritunjoy Mitra </td>
              <td >Cybage, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>10</strong></td>
              <td >Mr. Prashant Deshmukh</td>
              <td >L &amp; T Info Tech Ltd.</td>
            </tr>
            <tr >
              <td align="center" ><strong>11</strong></td>
              <td >Mr. Amit Agarkar </td>
              <td >L &amp; T Info Tech Ltd.</td>
            </tr>
            <tr >
              <td align="center" ><strong>12</strong></td>
              <td >Mr.  Dev Sundershekhar </td>
              <td >Fidelity  India</td>
            </tr>
            <tr >
              <td align="center" ><strong>13</strong></td>
              <td >Dr. E. J. Sarma </td>
              <td >SAAMA Technologies </td>
            </tr>
            <tr >
              <td align="center" ><strong>14</strong></td>
              <td >Dr. Rashmi Kapse </td>
              <td >Corporate Trainer </td>
            </tr>
            <tr >
              <td align="center" ><strong>15</strong></td>
              <td >Ms. Moonmoon Das </td>
              <td >Cognizant Technology Solutions </td>
            </tr>
            <tr >
              <td align="center" ><strong>16</strong></td>
              <td >Ms. Nandita Ambike </td>
              <td >Resource Person-Satyam Foundation </td>
            </tr>
            <tr >
              <td align="center" ><strong>17</strong></td>
              <td >Ms. Vandana Apte </td>
              <td >Satyam Foundation </td>
            </tr>
            <tr >
              <td align="center" ><strong>18</strong></td>
              <td >Mr.  Milind Agnihotri </td>
              <td >i-solve  Foundation</td>
            </tr>
            <tr >
              <td align="center" ><strong>19</strong></td>
              <td >Mr.  Vijay Athawale &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
              <td >Jacob,  Athawale Paranjape &amp; Co.</td>
            </tr>
            <tr >
              <td align="center" ><strong>20</strong></td>
              <td >Major  Natu &nbsp;&nbsp; </td>
              <td >Professional  Trainer</td>
            </tr>
            <tr >
              <td align="center" ><strong>21</strong></td>
              <td >Prof.  A. M. Kanetkar </td>
              <td >Dean  PVGCOE, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>22</strong></td>
              <td >Prof.  J.N.Pitambare </td>
              <td >Dean  SIT, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>23</strong></td>
              <td >Dr.  K. Sundaram </td>
              <td >Head  DOSD, VIT, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>24</strong></td>
              <td >Mr.  Atul Gopal </td>
              <td >Director,  Bulls Eye</td>
            </tr>
            <tr >
              <td align="center" ><strong>25</strong></td>
              <td >Mr.  Kiran Joshi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
              <td >Director  ACC, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>26</strong></td>
              <td >Mr.  Vivek Gogawale </td>
              <td >Career  Forum, Pune &nbsp;&nbsp;</td>
            </tr>
            <tr >
              <td align="center" ><strong>27</strong></td>
              <td >Mr.  Arun Pandey</td>
              <td >Career  Forum, Pune &nbsp;&nbsp;</td>
            </tr>
            <tr >
              <td align="center" ><strong>28</strong></td>
              <td >Ms.  Nina Gir </td>
              <td >Career  Forum, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>29</strong></td>
              <td >Ms.  Batul </td>
              <td >Career  Forum, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>30</strong></td>
              <td >Mrs.  L. Krishna Murthy </td>
              <td >Director  VIL, Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>31</strong></td>
              <td >Mr. R.G. Vaidya</td>
              <td >MITCON,  Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>32</strong></td>
              <td >Mr. Vivek Sinare</td>
              <td >MITCON,  Pune</td>
            </tr>
            <tr >
              <td align="center" ><strong>33</strong></td>
              <td >Mr. Atul Dadhe </td>
              <td >MITCON,  Pune</td>
            </tr>
            <tr >
              <td height="15" align="center" ><strong>34</strong></td>
              <td >Mr. Panditrao Gawade</td>
              <td >MITCON,  Pune</td>
            </tr>
          </table>


</div>
br><br><br><br><br>
<div class="col-md-3">
	<div class="jumbotron" style="background-color:black;margin-right:-8%;margin-left:-4%;">
	<h2 style="color:red;margin-top:0%; text-align=center;">Training Placement Details</h2>
        <ul>
           <li><a href="../placement/department_profile">Department Profile</a></li>
           <li><a href="../placement/placements1_homepage_and_campus_recruitment_page">Campus recruitment</a></li>
	 <li><a href="../placement/training">Training</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Companies%20Visited%20VIIT%20for%20Campus%20Recruitment.pdf">Companies Visited</a></li>
<li><a href="../placement/consolidated_placement_report">Consolidated Placement Report(Summary)</a></li>
	  	  
<h4>Yearwise Placement Summary</h4>
	  <ul>
          <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2016-2017%20Placement%20Report.pdf">2016-2017</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2015-2016%20Placement%20Report.pdf">2015-2016</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2014-2015%20Placement%20Report.pdf">2014-2015</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2013-2014%20Placement%20Report.pdf">2013-2014</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2012-2013%20Placement%20Report.pdf">2012-2013</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/Placement%20Report%20Period%20From%2015th%20JULY%202011%20to%2017th%20August%202013.pdf">2011-2012</a></li>
	  <li><a href="http://www.viit.ac.in/uploaded%20files/tnp/2010-2011%20Placement%20Report.pdf">2010-2011</a></li>
      </ul>
</ul>





</div>
</div>
</div>
</div>
</body>
</html>

