<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CEC-VIIT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
			<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="margin-right:20px">Competative Examination Cell(CEC-VIIT)</h1>
			</div><br>
				<img src="/home/rakif/Documents/fnf/VEC_Cell_1.jpg" style="margin-left:150px;"  class="img-thumbnail">
		<p align="justify" style ="line-height:150%">
                         <Strong>Work in 2015-16:</Strong><br> During the Academic year 2015-16, VIIT-Pune established a new initiative known as COMPETITIVE EXAM CELL (CEC-VIIT) for all the students aspiring for competitive exams. CEC is exclusively a student activity organised to create awareness about competitive exams held throughout India.</p>


                    <p align="justify" style ="line-height:150%">Till date, CEC has organized 2 sessions, which have had an overwhelming response, setting CEC off on a high note. The very first session was conducted in the month of September, by an alumnus of our college, IPS Prateek Thube currently posted at Silchar. The session introduced several concepts in civil services. The second session was intended on "MISSION UPSC" by Dr. Anurag Singh, an ex- sales tax commissioner. Session took place on 20th January 2016. CEC also unveiled its logo in this session by the hands of Dr. Anurag Singh and Principal Mrs. B.S.Karkare. </P>

              <p align="justify" style ="line-height:150%">Dr.Anurag Singh, in his speech, briefed about the required assets for the preparation of Civil Services Examinations starting from pre-mains to mains and to interviews. CEC is planning to form Study circles of students preparing for different Competitive Examinations.</p>


            <p align="justify" style ="line-height:150%">Moving with this positive approach and experiencing equal enthusiasm from students as well as teachers, CEC is expecting a huge response in the upcoming years. </p>
			<br><br>
			  <div class="row">
				<div class="col-md-6">
    	      <div><a href="#"><img src="/home/rakif/Documents/fnf/Comp-exam-2.jpg" class="img-thumbnail" alt=""  width="350" height="350"></a></div><br>
					<div><a href="#"><img src="/home/rakif/Documents/fnf/Comp-exam3.jpg" class="img-thumbnail" alt=""  width="350" height="350"></a></div>
				</div>
				<div class="col-md-6">
						<div><a href="#"><img src="/home/rakif/Documents/fnf/Com-Exam1.JPG" class="img-thumbnail" alt=""  width="350" height="350"></a></div>
			</div>
			</div>



			</div>


				<div class="col-md-5">
					<br><br><br><br><br>
					<div class="jumbotron">
						<h2>Student Activities</h2>
						<ul>
							<li><a href="../studentactivity/index">National Service Scheme-NSS</a></li>
							<li><a>Avishkar</a>
							<ul>
							<li><a href="../studentactivity/firodia">Firodia Karandak</a></li>
							<li><a href="../studentactivity/pushottamkarandak">Purushottam Karandak</a></li>
							<li><a href="../studentactivity/sumankarandak">Suman Karandak</a></li>
							</ul>
							</li>
							<li><a href="http://www.viit.ac.in/IEEE/index.html">IEEE Student Branch</a></li>
							<li><a href="../studentactivity/perception">Perception</a></li>
							<li><a href="../studentactivity/gandharva">Gandharv 2015-16</a></li>
							<li><a href="../studentactivity/sports">Sports</a></li>
							<li><a href="../studentactivity/magzine">Magazine</a></li>
							<li><a href="../studentactivity/valueeducationclub">Value Education Club</a></li>
							<li><a href="../studentactivity/competativeexamclub">Competative Examination Cell</a></li>
							<li class="last"><a href="http://edcviit.com/">Entrepreneurship Development Cell</a></li>
							<li><a href="http://www.viit.ac.in/enas-dept-SCITech.html">Scitech</a></li>
						</ul>
					</div>
				</div>
			</div>				



</body>
</html>

