<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gandharva</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
			<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="margin-right:20px;">Gandharva</h1>
			</div>

				<br>
				<h3><strong>Picture Galary</strong></h3>
	
				<br><br>
				<h4>Gandharva 2015-16</h4>
				<br>

    	<div class="row">
				<div class="col-md-6">
    	      <div><a href="#"><img src="/home/rakif/Documents/fnf/viitcamp.png" class="img-thumbnail" alt=""  width="250" height="190"></a></div>
						<br>
						<div><a href="#"><img src="/home/rakif/Documents/fnf/mun.jpg" class="img-thumbnail" alt=""  width="250" height="190"></a></div>
						</div>
				<div class="col-md-6">
						<div><a href="#"><img src="/home/rakif/Documents/fnf/maxresdefaut.jpg" class="img-thumbnail" alt=""  width="250" height="190"></a>
						</div><br>
						<div><a href="#"><img src="/home/rakif/Documents/fnf/28914_1451278229_Ox6gXWb3IdA0voUocglF.jpg" class="img-thumbnail" alt="" width="250" height="190"></div></div>
			</div>
			<br> 
		</div>


				<div class="col-md-5">
					<br><br><br><br><br>
					<div class="jumbotron">
						<h2>Student Activities</h2>
						<ul>
							<li><a href="http://www.viit.ac.in/NSS/index.html">National Service Scheme-NSS</a></li>
							<li><a>Avishkar</a>
							<ul>
							<li><a href="../studentactivity/firodia">Firodia Karandak</a></li>
							<li><a href="../studentactivity/purushottamkarandak">Purushottam Karandak</a></li>
							<li><a href="../studentactivity/sumankarandak">Suman Karandak</a></li>
							</ul>
							</li>
							<li><a href="http://www.viit.ac.in/IEEE/index.html">IEEE Student Branch</a></li>
							<li><a href="../studentactivity/perception">Perception</a></li>
							<li><a href="../studentactivity/gandharva">Gandharv 2015-16</a></li>
							<li><a href="../studentactivity/sports">Sports</a></li>
							<li><a href="../studentactivity/magzine">Magazine</a></li>
							<li><a href="../studentactivity/valueeducationclub">Value Education Club</a></li>
							<li><a href="../studentactivity/competativeexamclub">Competative Examination Cell</a></li>
							<li class="last"><a href="http://edcviit.com/">Entrepreneurship Development Cell</a></li>
							<li><a href="http://www.viit.ac.in/enas-dept-SCITech.html">Scitech</a></li>
						</ul>
					</div>
				</div>
			</div>				



</body>
</html>

