<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lighthouse</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
			<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="margin-right:20px">Lighthouse</h1>
			</div><br>
				<p align="justify" style ="line-height:150%">
		Lighthouse is VIIT'S annual magazine. it is s mediumm through which budding writers, poets and artists can showcase their talent. The theme, design and concept are all decided by students with the guidance of a few teacher co-ordinators. it goes beyond academics, by encouraging students to be creative with their content.
        </p>
    <p align="justify" style ="line-height:150%">
        It represents a mixture of thoughts and emotions all poured on paper and showcased for the entire VIIT community to see and appreciate.
		</p>

        
		<a href="/home/rakif/Documents/Documents/complete.pdf">Click Here for Magazine</a>
			</div>


				<div class="col-md-5">
					<br><br><br><br><br>
					<div class="jumbotron">
						<h2>Student Activities</h2>
						<ul>
							<li><a href="http://www.viit.ac.in/NSS/index.html">National Service Scheme-NSS</a></li>
							<li><a>Avishkar</a>
							<ul>
							<li><a href="../studentactivity/firodia.html">Firodia Karandak</a></li>
							<li><a href="../studentactivity/purushottamkarandak.html">Purushottam Karandak</a></li>
							<li><a href="../studentactivity/sumankarandak.html">Suman Karandak</a></li>
							</ul>
							</li>
							<li><a href="http://www.viit.ac.in/IEEE/index.html">IEEE Student Branch</a></li>
							<li><a href="../studentactivity/percepton.html">Perception</a></li>
							<li><a href="../studentactivity/gandharva.html">Gandharv 2015-16</a></li>
							<li><a href="../studentactivity/sports.html">Sports</a></li>
							<li><a href="../studentactivity/magzine.html">Magazine</a></li>
							<li><a href="../studentactivity/valueeducationclub.html">Value Education Club</a></li>
							<li><a href="../studentactivity/competativeexamclub.html">Competative Examination Cell</a></li>
							<li class="last"><a href="http://edcviit.com/">Entrepreneurship Development Cell</a></li>
							<li><a href="http://www.viit.ac.in/enas-dept-SCITech.html">Scitech</a></li>
						</ul>
					</div>
				</div>
			</div>				



</body>
</html>

