<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sports</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
			<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="margin-right:20px;">Department Profile</h1>
			</div>

			<img src="/home/rakif/Documents/fnf/nvp.jpg" width="140"  height="170" class="img-rounded">
		<p align="justify" style ="line-height:150%">
		<strong>Mr. Namdev V. Phatangare M.Ed, SET(Phy.Edu.)</strong></br>
		Director of Physical Education
		</p>
		<p align="justify" style ="line-height:150%">
		<strong>Sports Department in V.I.I.T. operates with  following objects which are well-supported by the V.I.I.T. Management.</strong></p>
		
		<p align="justify" style ="line-height:150%">
		Physical  Fitness not only adds years to life but also life to years.&rdquo; Today&rsquo;s era is  known as the scientific era. The world today is worked by developing  technologies because of which the world is increasingly getting busy and hectic  by nature creates major problems to living beings. The man has to do the daily  activities quickly, efficiently and in the given time. Physical work is taken  over by machines like computers, automobiles, home appliances and many other  small or big machines. The life has become very fast. There is continuous  scientific development in the world today and man has adapted himself to such a  handicapped life. For every work, either he has an alternative or a machine to  work for.</p>
		
		<p align="justify" style ="line-height:150%">
		But  due to these he is unaware of the consequences he has to face in the near  future. After due time he is unable to do the same activities with the same  abilities and interest. The overall fitness and normal life span of the humans  is decreasing day by day. For doing activities one has to be physically,  emotionally, psychologically and mentally fit. Here is where physical training  plays an important role in everyday life.</p>
		
		<p align="justify" style ="line-height:150%">
		<strong>&ldquo;Sound mind in sound body&rdquo; is very popular  slogan, which reflects body and mind relationship. Sound mind means  psychologically well and mentally healthy, whereas sound body means organically  efficient and physically fit.</strong>
		</p>
		
		<p align="justify" style ="line-height:150%">
		Physical  training like jogging, running, cycling, swimming, yoga will help one to keep  his mental and physical well being.</p>
		
		<p align="justify" style ="line-height:150%"><strong>&ldquo;Physical fitness is not an asset which can be  purchased, but has to be developed through extensive devotion to physical  activity.&rdquo;</strong></p>
					 
			</div>


				<div class="col-md-5">
					<br><br><br><br><br>
					<div class="jumbotron">
						<h2>Sports Details</h2>
						<ul>
							<li><a href="sports.html">Department Profile</a></li>
							<li><a href="uploaded files/sports/University and Zonal player list 2007-2016.pdf">University and Zonal player list 2007-2016</a></li>
							<li><a href="uploaded files/sports/SPORTS ANALYSIS 2011 to 2016.pdf">Sports Analysis 2011-2016</a></li>
								  <li><a href="uploaded files/sports/Sports Prizes in 2007-2016.pdf">Sports Prizes in 2007-2016</a></li>
							<li><a href="#">Achivements</a></li>
							<ul>
								    <li><a href="sports-2015-2016.html">2015-2016</a></li>
								<li><a href="sports-2014-2015.html">2014-2015</a></li>		
								<li><a href="sports-2013-2014.html">2013-2014</a></li>	  
								  	<li><a href="sports-2012-2013.html">2012-2013</a></li>
								  	<li><a href="sports-2011-2012.html">2011-2012</a></li>
								  	<li><a href="sports-2010-2011.html">2010-2011</a></li>
								  	<li><a href="sports-2009-2010.html">2009-2010</a></li>
								  	<li><a href="sports-2008-2009.html">2008-2009</a></li>
								  	<li><a href="sports-2007-2008.html">2007-2008</a></li>
						</ul>
					</div>
				</div>
			</div>				



</body>
</html>

