<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Suman Karandak</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<div class="page-header">
					<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" style="margin-right:20px;" height="50px" width="50px" alt="" align="middle"/>  Suman Karandak</h1>
				</div><br>
				<table class="table table-striped table-hover">
				<thead>
				<tr class="danger" text-align="center">
					<th colspan="3" style="text-align:center;">Activity - Suman Karandak</th>
				</tr>
				</thead>
				<tbody>
				<tr class="info">
					<td align="center"><img src="images/bullet1.jpg" width="9" height="8" /></td>
          <td><div>
          <div>Suman  Karandak 2012<strong> &lsquo;Chuk - Bhul Dyavi Ghyavi&rsquo; </strong></div>
          </div></td>
          <td><div>Finalist</div></td>
          </tr>
          <tr>
            <td align="center"><img src="images/bullet1.jpg" width="9" height="8" /></td>
            <td><div>Suman  Karandak 2010 <strong>&lsquo;Chhabu Mane&rsquo;</strong></div></td>
            <td><div>Bhavik  Shah &ndash; Consolation</div></td>
          </tr>
				 </tbody>
				</table>
			</div>


				<div class="col-md-5">
					<br><br><br><br><br>
					<div class="jumbotron">
						<h2>Student Activities</h2>
						<ul>
							<li><a href="../studentactivity/index">National Service Scheme-NSS</a></li>
							<li><a>Avishkar</a>
							<ul>
							<li><a href="../studentactivity/firodia">Firodia Karandak</a></li>
							<li><a href="../studentactivity/pushottamkarandak">Purushottam Karandak</a></li>
							<li><a href="../studentactivity/sumankarandak">Suman Karandak</a></li>
							</ul>
							</li>
							<li><a href="http://www.viit.ac.in/IEEE/index.html">IEEE Student Branch</a></li>
							<li><a href="../studentactivity/perception">Perception</a></li>
							<li><a href="../studentactivity/gandharva">Gandharv 2015-16</a></li>
							<li><a href="../studentactivity/sports">Sports</a></li>
							<li><a href="../studentactivity/magzine">Magazine</a></li>
							<li><a href="../studentactivity/valueeducationclub">Value Education Club</a></li>
							<li><a href="../studentactivity/competativeexamclub">Competative Examination Cell</a></li>
							<li class="last"><a href="http://edcviit.com/">Entrepreneurship Development Cell</a></li>
							<li><a href="http://www.viit.ac.in/enas-dept-SCITech.html">Scitech</a></li>
						</ul>
					</div>
				</div>
			</div>				



</body>
</html>

