<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Undergraduate Admissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
			<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="margin-right:20px;">Student Joining SE,TE and BE</h1>
			</div>		
			<a href="/home/rakif/Documetns/pdf/Fees notice 2016-17.pdf"><h1><I><span class="style1">Fee Notice (A.Y. 2016-17)</span></I></h1>
          </a>
          <br />
          Contact Number :
(020) 26950356
          <br />
    <br />
   <h1><u>Instructions to Students for Online Payment</u></h1> 

    <ol>
        <li>Online payment facility is available for the students admitted in Vishwakarma Institute of Information Technology, Pune before academic year 2016-17. </li>
        <li>Provided link will show you college ERP login page. On that page please enter students G.R. Number as User ID and 
            given Password(students password). </li>
        <li>After ERP login you will get payble fees amount of student. Click on Pay Now to proceed for online fees payment.</li>
        <li>Keep the following documents ready before the online payment:  
        <ol type="a">
            <li>Debit/ Credit/ Visa/ Master Card and Password </li>
            <li>For Net banking :- Bank Name, ID and Password </li>
        </ol>
        </li>
        <li>Transaction Charges (Per Transaction) </li>
    </ol>

    <table class="table table-striped table-hover">
    <thead>
     <tr class="danger">
        <th>Sr. No. </th>
        <th>Particulars </th>
        <th>Transaction Charges + Service Charge </th>
        <th>Total Amount to be paid= [Fees + Transaction Charges + Service Tax] example</th>
     </tr>
    </thead>
    <tbody>
    <tr class="info">
        <td>1</td>
        <td>All Net Banking Transactions payment of fees </td>
        <td>Rs. 16 per transaction </td>
        <td>For Example -<br />
            Fees: Rs. 1,00,000/- + Rs. 16</td>
    </tr>
    <tr>
        <td>2</td>
        <td>All Credit/ Debit/Cash/Master Card Transactions  </td>
        <td>2% per Transaction </td>
        <td>For Example -<br />
            Fees: Rs. 1,00,000/-  Charges= Rs. 2,000 + Service Tax only on bank charges i.e. 
            on 2%</td>
    </tr>
    </tbody>
		</table>

   <a href="http://payment.viit.ac.in/eVIITPayment"><h1><I><span class="style1">For Online payment Click here</span></I></h1></a>  
    
   <h1><u>Student Fees details as follow</u></h1>  
    <ol>
  
    <li> Fees for SE (A.Y. 2016-17)
        <ul>
        <li><a href="uploaded files/1. SE E &TC (A, B & C Div) 16-17.pdf">E & TC(A, B & C Div) 2016-17</a></li>
        <li><a href="uploaded files/2. SE COMP (A , B, & C Div.)  2016-17.pdf">Computer(A , B, & C Div.)  2016-17</a></li>
        <li><a href="uploaded files/3. SE IT 2016-17.pdf">IT 2016-17</a></li>
        <li><a href="uploaded files/4. SE MECH  2016-17.pdf">Mechanical 2016-17</a></li>
        <li><a href="uploaded files/5. SE CIVIL 2016-17.pdf">Civil 2016-17</a></li>
        </ul>
    </li>



     <li>Fees for TE (A.Y. 2016-17)
        <ul>
        <li><a href="uploaded files/1. TE  E&TC  (A, B & C, Div) 2016-17.pdf">E & TC(A, B & C Div) 2016-17</a></li>
        <li><a href="uploaded files/2. TE COMP (A, B, & C Div.) 2016-17.pdf">Computer(A , B, & C Div.)  2016-17</a></li>
        <li><a href="uploaded files/3. TE  IT 2016-17.pdf">IT 2016-17</a></li>
        <li><a href="uploaded files/4. TE  MECH (A & B Div) 2016-17.pdf">Mechanical 2016-17</a></li>
        <li><a href="uploaded files/5. TE  CIVIL (A & B Div.) 2016-17.pdf">Civil 2016-17</a></li>
        </ul>
    </li>



     <li>Fees for BE (A.Y. 2016-17)
        <ul>
        <li><a href="uploaded files/1. BE E & TC (A, B & C Div.)  2016-17.pdf">E & TC(A, B & C Div) 2016-17</a></li>
        <li><a href="uploaded files/2. BE COMP (A, B & C Div.)  2016-17.pdf">Computer(A , B, & C Div.)  2016-17</a></li>
        <li><a href="uploaded files/3. BE IT 2016-17.pdf">IT 2016-17</a></li>
        <li><a href="uploaded files/4. BE ELEX 2016-17.pdf">Elex 2016-17</a></li>
        <li><a href="uploaded files/5. BE MECH (A & B) 2016-17.pdf">Mechanical(A,B Div) 2016-17</a></li>
        <li><a href="uploaded files/6. BE CIVIL (A & B) 2016-17.pdf">Civil 2016-17(A,B Div)</a></li>
        </ul>
    </li>
    
    
    
    </ol>
	</div>				



</body>
</html>

