<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Value Edducation Club</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
			<div class="page-header">
			<h1 style="text-align:center;"><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="margin-right:20px">Value Education Club</h1>
			</div><br>
				<img src="/home/rakif/Documents/fnf/vec.jpg" style="margin-left:100px;"  class="imgn">

		<p align="centre" style ="line-height:150%">
		<strong>Value EDUCATION CLUB, VIIT
				<br>  ... Blending Character with Competence</strong></p>

				<br>
		
						<p align="justify" style ="line-height:150%">
						"The growing concern over the erosion of essential values and an increasing cynicism in society has brought to focus the need for readjustments in the curriculum in order to make education a forceful tool for the cultivation of social and moral values." 
				--National Education Policy (NPE), 1986.
				</p>
		
						<p align="justify" style ="line-height:150%">
						Traditionally the objectives of value education were based on religion and philosophy. There was no secular value education and very little scope for the development of moral thinking and the capacity for independent moral decision. A civilized individual must possess certain minimum social skills. He has to establish decent relationship with people with whom he may come across for a short while or for a long duration. There are also many other demands made on him that need not be enumerated. 
				We at VEC VIIT have three dimensions on value education, these being Intellectual Quotient, Emotional Quotient and Spiritual Quotient. The values to be pursued in the moral and spiritual realm, according to them are: <br>
				<p>                Sincerity, faithfulness, obedience to what one conceives to be the highest, gratitude, honesty, benevolence, generosity, cheerfulness, selflessness, freedom from egoism, equanimity in joy and suffering, in honor and dishonor, success and failure, pursuit of the deepest and the highest of the absolute and ultimate and the progressive expression of this pursuit in thought, feeling and action.</p>
				</p>
		
						<p align="justify" style ="line-height:150%">
						<strong>Programs Conducted:-</strong><br><br>

								                   <strong>  Program 1:-</strong><br>
				<strong>Seminar: 3Q’S of GREAT LEATERS</strong><br>
				<strong>Speaker:</strong> <strong> Mr. V. Gopi Krishna </strong> <br>
				<strong>Qualifications:</strong> <strong>BE (Computer Science) from BITS Pilani </strong> <br> <br>

				<strong>Program 2 : - VALUE ENHANCEMENT COURSE</strong><br>

				<strong>Session 1: - Mastermind behind the Mysterious Universe</strong> <br>
					<strong> Speaker :- Mr. Rakesh Nalla (B-Tech & M-Tech Dual Degree, NIT Rourkela. World Ranking-5, Steel Challenge-09)    </strong><br><strong>Date:- 04-10-2015</strong><br>

				<strong>Session 2 : </strong>- <strong>Access the Truth beyond Four Defects<br></strong>
				 <strong>  Speaker : - Mr. Rishit Kar ( Software Engineer, IBM, Pune)   </strong><br> <strong>Date:-11-10-2015</strong><br>

				<strong>Session 3 : - Vedic Wisdom – The Privilege Of Humanit</strong>y<br>
					<strong> Speaker : - Mr. Manoj Kumar (M-Tech, NIT Rourkela)   </strong> <br><strong>Date:-18-10-2015</strong><br>

				<strong>Session 4 : - Science of Soul </strong><br>
				 <strong>  Speaker : - Mr. Srinivas Subramanyam (Software Engineer, Yodlee Ltd, Bangalore)</strong><br><strong>Date:-20-10-15</strong>
			</div>


				<div class="col-md-5">
					<br><br><br><br><br>
					<div class="jumbotron">
						<h2>Student Activities</h2>
						<ul>
							<li><a href="../studentactivity/index">National Service Scheme-NSS</a></li>
							<li><a>Avishkar</a>
							<ul>
							<li><a href="../studentactivity/firodia">Firodia Karandak</a></li>
							<li><a href="../studentactivity/pushottamkarandak">Purushottam Karandak</a></li>
							<li><a href="../studentactivity/sumankarandak">Suman Karandak</a></li>
							</ul>
							</li>
							<li><a href="http://www.viit.ac.in/IEEE/index.html">IEEE Student Branch</a></li>
							<li><a href="../studentactivity/perception">Perception</a></li>
							<li><a href="../studentactivity/gandharva">Gandharv 2015-16</a></li>
							<li><a href="../studentactivity/sports">Sports</a></li>
							<li><a href="../studentactivity/magzine">Magazine</a></li>
							<li><a href="../studentactivity/valueeducationclub">Value Education Club</a></li>
							<li><a href="../studentactivity/competativeexamclub">Competative Examination Cell</a></li>
							<li class="last"><a href="http://edcviit.com/">Entrepreneurship Development Cell</a></li>
							<li><a href="http://www.viit.ac.in/enas-dept-SCITech.html">Scitech</a></li>
						</ul>
					</div>
				</div>
			</div>				



</body>
</html>

