<!DOCTYPE html>
<html lang="en">
<head>
  <title>Staff Achievements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<div class="row-md-4">
<dov class="responsive">
<div class="col-md-6">
<h3 style="color:blue;"><img src="C:\Users\user\Documents\viit website\images\viitlogo.gif" height="50px" width="50px" alt="" align="middle"/>  Staff Achievements</h1>
<hr>
  <img style="margin-bottom=20px;" class="img-thumbnail" src="C:\Users\user\Documents\viit website\images\staff_ach_pg.jpg" width="400" height="400"> 
</div>
			<br><br><br><br><br><br>
<div class="col-md-6">
			<div class="jumbotron"style="margin-right:25%;margin-top:-4%;">
				<h2 style="color:red;margin-top:-5%; text-align=center;">Staff Achievements</h2>
				<ul>
				  <li><a href="../staff_achievements/2015-16_and_2015-14">2015-2016</a></li>
				  <li><a href="../staff_achievements/2015-16_and_2015-14">2014-2015</a></li>
				  <li><a href="../staff_achievements/2013-14">2013-2014</a></li>
				  <li><a href="../staff_achievements/2012-13">2012-2013</a></li>
				  <li><a href="../staff_achievements/2011-12">2011-2012</a></li>
				  
</div>
</div>
</div>
</div>
</body>
</html>
