<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
.li2:hover{background-color:cyan}


</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>First Year Engineering Admission Process 2016-17

                </h3></div><br>
            <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">Central Admission Process(CAP) Stages</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <ol>
                            <li class="li2">Display or Publishing of Information Brochure.</li>
                            <li class="li2">Filling Online Application Form by Candidate for participation in CAP.</li>
                            <li class="li2">Confirmation of Online Application Form and Document Verification at Facilitation Centre (FC) by the Candidate in person.</li>
                            <li class="li2">Display or Publishing of Provisional merit lists.</li>
                            <li class="li2">Submission of grievances, if any</li>
                            <li class="li2">Display or Publishing of Final Merit Lists.</li>
                        </ol>
                    </td>
                </tr>


                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">CAP Round - I</th>
                </tr>
                </thead>

                <tr>
                    <td>
                        <ol start="7">
                            <li class="li2">Display of available Category wise Seats (Seat Matrix) for CAP Round-I</li>
                            <li class="li2">Filling up and Confirmation of Online Option Form having preferences of Courses and Institutions for CAP Round I, II & III.</li>
                            <ol >
                                <li class="li2">The candidate can fill in minimum 1 and maximum 300 options.</li>
                                <li class="li2">The option form once confirmed shall be considered for allotment in CAP Round I, II and III.</li>
                                <li class="li2">Option form received through online submission only will be considered.</li>
                                <li class="li2">After confirmation - No change in the Options permitted.</li>
                            </ol>

                            </li>


                            <li class="li2">The candidate can take a printout of the confirmed Option form.</li>
                            <li class="li2">Display of Provisional Allotment of CAP Round - I indicating allotted institute and Course.</li>
                            <li class="li2">Seporting at Admission Reporting Centre (ARC) as per the allotment of the CAP Round - I by the Candidate.</li>
                        </ol>
                    </td>
                </tr>
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">CAP Round - II</th>
                </tr>
                </thead>

                <tr>
                    <td>
                        <ol start="12">
                            <li class="li2">Display of Provisional Allotment of CAP Round - II indicating allotted institute and Course.</li>
                            <li class="li2">Reporting at Admission Reporting Centre (ARC) as per the allotment of the CAP Round - II by the Candidate.</li>
                        </ol>
                    </td>
                </tr>
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">CAP Round - III</th>
                </tr>
                </thead>

                <tr>
                    <td>
                        <ol start="14">
                            <li class="li2">Display of Provisional Allotment of CAP Round III indicating allotted institute and Course.</li>
                            <li class="li2">Reporting at Admission Reporting Centre (ARC) as per the allotment of the CAP Round - III by the Candidate.</li>
                            <ol>
                                <li class="li2"><strong>Freeze: </strong> Candidates accept offered seat and do not want to participate in any further rounds of seat allocation. Such Candidates will not be considered in subsequent rounds of admission.</li>
                                <li class="li2"><strong>Slide: </strong>Candidates accept the offered seat and indicate that, if admission to the academic program of higher preference is offered within the same Institution, they will accept it. Such Candidates will be considered in subsequent rounds of admission.</li>
                                <li class="li2"><strong>Float: </strong>Candidates accept the offered seat and indicate that, if admission to an academic program of higher preference in any Institution is offered, they will accept it. Else, they will continue with the currently accepted academic program. Such Candidates will be considered in subsequent rounds of admission.
                                </li>
                            </ol>
                            </li>
                        </ol>
                    </td>
                </tr>
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">CAP Round - IV</th>
                </tr>
                </thead>

                <tr>
                    <td>
                        <ol start="16">
                            <li class="li2">The seats available for this round shall be published on the website. The Candidates are allowed to fill in or edit the already filled online option form. The seats to be allotted during the course of this round shall be subject to following conditions -</li>
                            <ol>
                                <li class="li2">Candidates can change their option from Sliding or Floating to Freezing or vice-versa;</li>
                                <li class="li2">Candidates who have not been allotted any seat in any of the previous rounds or not participated by the way of not filling the Option form in CAP Round I or those who have taken and cancelled their admission in the earlier rounds or rejected seat and those who have Freeze the admission in earlier rounds but are desirous of Floating and Sliding in this final round are eligible to participate in this round;
                                </li>
                                <li class="li2">Candidates who have opted for Floating and Sliding and also applying for this round shall fill in the allotted institution in their choice list. Once the upward allotment is made the earlier allotment automatically stands cancelled;</li>
                                <li class="li2">Sliding and Floating options are not available for the seats allotted in this round, as it is last CAP Round.</li>
                            </ol>

                            </li>


                            <li class="li2">After final CAP Round (CAP Round - IV), Candidate shall report to the institution finally allotted to him and confirm his admission in institution. Candidate to pay the fees (excluding fees paid at Reporting Center) to the Institution and confirm admission..</li>

                        </ol>
                    </td>
                </tr>



                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">
                        For details visit: <a href="http://www.dtemaharashtra.gov.in/fe2016/StaticPages/HomePage.aspx" ><strong> <strong>www.dte.org.in/fe2016</strong></a>
                    </th>
                </tr>
                </thead>





            </table>
            <br><br>

        </div>
        <br>
        <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>Undergraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="../admission/sanctioned_intake_fe">Sactioned Intake</a></li>
                    <li><a class="two" href="../admission/eligibility_criteria_fe">Eligibility Criteria</a></li>
                    <li><a class="two" href="../admission/admission_process_fe">Admission Process</a></li>
                    <li><a class="two" href="../admission/docs_required_fe">Documents Required</a></li>

                    <li><a class="two" href="http://localhost:63342/viit-webpage/First%20year%20Engg.html?_ijt=681rq0mdibei59b4s23g575s8m">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/FE_FEE%20STRUCTURE%202016-17.pdf">FE Fee Structure</a>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/HOSTEL%20FEE%20STRUCTURE_2016-17.pdf">HOSTEL Fee Structure</a>
                        </ul>
                    </li>

                    <li><a class="two" href="#">Institute Level Admissions</a></li>
                    <li><a class="two" href="#">Supernumerary seats Admissions</a></li>
                    <li><a class="two" href="#">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

       
