<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

 a.two:link {color:blue;}
a.two:visited {color:#0000ff;}
a.two:hover {color:red;}


.p1 {
    border-left: 10px solid red;
    border-right: 10px solid red;
    background-color: lightgrey;
    height:80px;
    width:80%;
    margin-left:10%;
    padding-top:30px;
    text-align:center;
}

</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>Documents Required</h3></div><br>
            <a href="http://www.viit.ac.in/uploaded%20files/Required%20Documents%20List%20for%20ME%20Adm%20-%20A.Y.2016-17.pdf" class="two"><p class="p1"><strong>LIST OF DOCUMENTS FOR ME FIRST YEAR ADMISSION 2016-2017</strong></p></a>


            <br><br>

        </div>
        <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>Undergraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="http://localhost:63342/viit-webpage/src/ME/Sanctioned%20Intake%20ME.html?_ijt=pburvc4nsq7suh280g2pntkpgk">Sactioned Intake</a></li>
                    <li><a class="two" href="#">Documents Required</a></li>

                    <li><a class="two" href="#">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="#">ME Fee Structure</a>

                        </ul>
                    </li>
                    <li><a class="two" href="#">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

