<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
.li2:hover{background-color:cyan}


</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>Documents Required
                </h3></div><br>
            <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">For all candidates</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <ol>
                            <li class="li2">S.S.C. (Std.X) mark sheet</li>
                            <li class="li2">H.S.C. (Std. XII) mark sheet</li>
                            <li class="li2">MHT-CET / JEE Score Card.</li>
                            <li class="li2">School leaving certificate after passing Std. XII.</li>
                            <li class="li2">Domicile Certificate</li>
                            <li class="li2">Certificate of the Indian Nationality (Nationality – Indian Mentioned on LC / Nationality Certificate / Passport) of the candidate.</li>
                        </ol>
                    </td>
                </tr>


                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">For backward class candidates belonging to S.C. / S.T.</th>
                </tr>
                </thead>

                <tr>
                    <td>
                        <ol start="1">
                            <li class="li2">S.S.C. (Std.X) mark sheet</li>
                            <li class="li2">H.S.C. (Std. XII) mark sheet</li>
                            <li class="li2">MHT-CET / JEE Score Card.</li>
                            <li class="li2">School leaving certificate after passing Std. XII.</li>
                            <li class="li2">Domicile Certificate</li>
                            <li class="li2">Certificate of the Indian Nationality (Nationality – Indian Mentioned on LC / Nationality Certificate / Passport) of the candidate.</li>

                            <li class="li2">Caste certificate</li>
                            <li class="li2">Caste/Tribe validity certificate</li>

                        </ol>
                    </td>
                </tr>
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">Backward class Candidates belonging to VJ / DT-NT(A) / NT(B) / NT(C) / NT(D) /O.B.C. / S. B. C. categories.</th>
                </tr>
                </thead>

                <tr>
                    <td>
                        <ol start="1">
                            <li class="li2">S.S.C. (Std.X) mark sheet</li>
                            <li class="li2">H.S.C. (Std. XII) mark sheet</li>
                            <li class="li2">MHT-CET / JEE Score Card.</li>
                            <li class="li2">School leaving certificate after passing Std. XII.</li>
                            <li class="li2">Domicile Certificate</li>
                            <li class="li2">Certificate of the Indian Nationality (Nationality – Indian Mentioned on LC / Nationality Certificate / Passport) of the candidate.</li>
                            <li class="li2">Caste certificate</li>
                            <li class="li2">Caste/Tribe validity certificate</li>
                            <li class="li2">Non creamy layer certificate valid up to 31/03/2017</li>
                        </ol>
                    </td>
                </tr>


                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">
                        For details visit: <a href="http://www.dtemaharashtra.gov.in/fe2016/StaticPages/HomePage.aspx" ><strong> <strong>www.dte.org.in/fe2016</strong></a>
                    </th>
                </tr>
                </thead>





            </table>
            <br><br>

        </div>
        <br>
        <div class="col-md-5">
            <br><br><br><br><br>
             <div class="jumbotron">
                <h2>Undergraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="../admission/sanctioned_intake_fe">Sactioned Intake</a></li>
                    <li><a class="two" href="../admission/eligibility_criteria_fe.html.erb">Eligibility Criteria</a></li>
                    <li><a class="two" href="../admission/admission_process_fe.html.erb">Admission Process</a></li>
                    <li><a class="two" href="../admission/docs_required_fe.html.erb">Documents Required</a></li>

                    <li><a class="two" href="http://localhost:63342/viit-webpage/First%20year%20Engg.html?_ijt=681rq0mdibei59b4s23g575s8m">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/FE_FEE%20STRUCTURE%202016-17.pdf">FE Fee Structure</a>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/HOSTEL%20FEE%20STRUCTURE_2016-17.pdf">HOSTEL Fee Structure</a>
                        </ul>
                    </li>

                    <li><a class="two" href="#">Institute Level Admissions</a></li>
                    <li><a class="two" href="#">Supernumerary seats Admissions</a></li>
                    <li><a class="two" href="#">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

       
