<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   a.one:link {color:blue;}
a.one:visited {color:#0000ff;}
a.one:hover {color:red;}

 a.two:link {color:blue;}
a.two:visited {color:#0000ff;}
a.two:hover {color:red;}

.td1:hover{background-color:cyan}


</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>Undergraduate Admissions-Direct SE</h3></div><br>
            <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">CONTACT DETAIL</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" class="td1" style="text-align:center"><strong>COLLEGE :</strong></td>
                <tr><td colspan="2" class="td1" style="text-align:center">Telephone:(020)- 020-26950200/400</td></tr>
                <tr><td colspan="2" class="td1" style="text-align:center">TeleFax: (020)-26950450  </td></tr>
                </tr>
                <tr>
                    <td class="td1" style="text-align:center"><strong>For Admissions :</strong> </td>

                </tr>
                <tr>
                    <td class="td1" style="text-align:center" ><strong>Admission In-charge:</strong></td>
                </tr>
                <tr>
                    <td class="td1"  style="text-align:center"><em>Mrs. Geeta R. Chillal</em> <br>Contact (M):9922997550</td>
                </tr>
                <tr>
                    <td class="td1" style="text-align:center"  style="text-align:center"><strong>Assistant Incharge</strong></td>
                </tr>
                <tr>
                    <td class="td1"  style="text-align:center"><em>Mrs. Geeta R. Chillal </em><br>Contact (M): 9850528216</td>
                </tr>



            </table>
            <br><br>

        </div>
        <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>UG Admissions-SEDA</h2><hr>
                <ul>
                    <li><a class="two" href="../admission/sactioned_intake-dse">Sactioned Intake</a></li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/1.Eligibility_for_DSE_2016.pdf">Eligibility Criteria</a></li>
                    <li><a class="two" href="#">Admission Process</a></li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/3.Documents_Required_for_DSE_2016.pdf">Documents Required</a></li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/4.DSEpdf%201617%20Information%20Brochure.pdf">Information Brochure</a></li>
                    <li><a class="two" href="http://localhost:63342/viit-webpage/src/dse%20in/Direct%20Second%20Year/DSE.html?_ijt=s8n42t9gq927gh0pj7v5dfckj0#">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/SE-D_FEE%20STRUCTURE%202016-17.pdf">DSE Fee Structure</a>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/HOSTEL%20FEE%20STRUCTURE_2016-17.pdf">HOSTEL Fee Structure</a>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

