<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   a.one:link {color:blue;}
a.one:visited {color:#0000ff;}
a.one:hover {color:red;}

 a.two:link {color:blue;}
a.two:visited {color:#0000ff;}
a.two:hover {color:red;}

.td1:hover{background-color:cyan}


</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>UNDERGRADUATE ADMISSIONS-FE</h3></div><br>
            <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">CONTACT DETAIL</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" class="td1"><strong>COLLEGE :</strong></td>
                <tr><td colspan="2" class="td1">Telephone:(020)-26950200/400</td></tr>
                <tr><td colspan="2" class="td1">TeleFax: (020)-26950450 </td></tr>
                </tr>
                <tr>
                    <td class="td1" ><strong>For Admissions :</strong> </td>

                </tr>
                <tr>
                    <td class="td1" >Admission In-charge: Prof. (Dr.) Y. D. Deshpande </td>
                </tr>
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center">Fee Structure details</th>
                </tr>
                </thead>

                <tr><td><a class="one" href="default.asp" target="_blank">Provisional Fee Structure for First Year Engineering (A.Y.2016-17)</a></td>></tr>
                <tr><td><a class="one" href="default.asp" target="_blank">Hostel Fee Structure for Year 2016-17</a></td></tr>
            </table>
            <br><br>

        </div>
         <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>Undergraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="../admission/sanctioned_intake_fe">Sactioned Intake</a></li>
                    <li><a class="two" href="../admission/eligibility_criteria_fe">Eligibility Criteria</a></li>
                    <li><a class="two" href="../admission/admission_process_fe">Admission Process</a></li>
                    <li><a class="two" href="../admission/docs_required_fe">Documents Required</a></li>

                    <li><a class="two" href="http://localhost:63342/viit-webpage/First%20year%20Engg.html?_ijt=681rq0mdibei59b4s23g575s8m">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/FE_FEE%20STRUCTURE%202016-17.pdf">FE Fee Structure</a>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/HOSTEL%20FEE%20STRUCTURE_2016-17.pdf">HOSTEL Fee Structure</a>
                        </ul>
                    </li>

                    <li><a class="two" href="#">Institute Level Admissions</a></li>
                    <li><a class="two" href="#">Supernumerary seats Admissions</a></li>
                    <li><a class="two" href="#">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

       
