<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   a.one:link {color:blue;}
a.one:visited {color:#0000ff;}
a.one:hover {color:red;}

 a.two:link {color:blue;}
a.two:visited {color:#0000ff;}
a.two:hover {color:red;}

.td1:hover{background-color:cyan}


</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>Postgraduate Admissions</h3></div><br>
            <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th colspan="3" style="text-align:center ">CONTACT DETAIL</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" class="td1"><strong>COLLEGE :</strong></td>
                <tr><td colspan="2" class="td1">Telephone:(020)-26950200/400</td></tr>
                <tr><td colspan="2" class="td1">TeleFax: (020)-26950450 </td></tr>
                </tr>
                <tr>
                    <td class="td1" ><strong>For Admissions :</strong> </td>

                </tr>
                <tr>
                    <td class="td1" >Admission In-charge: Admission In-charge: Mrs. K. H. Wanjale <br>Contact: 020-26950286, 7767885007.  </td>

                </tr>

            </table>
            <br><br>

        </div>
        <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>Postgraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="http://localhost:63342/viit-webpage/src/ME/Sanctioned%20Intake%20ME.html?_ijt=csei9lpenqjva8t4b644dd5l35">Sactioned Intake</a></li>
                    <li><a class="two" href="http://localhost:63342/viit-webpage/src/ME/Documents%20Required%20ME.html?_ijt=6d5nfkr13a51c7ksprcppa0ro1">Documents Required</a></li>
                    <li><a class="two" href="http://localhost:63342/viit-webpage/src/ME/ME.html?_ijt=6d5nfkr13a51c7ksprcppa0ro1">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/ME-I%20Fee%20Structure_2016-17.pdf">ME Fee Structure</a>
                        </ul>
                    </li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/ME_admission_broucher.pdf">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

