<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   table {
    border-collapse: collapse;
    width:60%;
}
table,th, td {
    padding: 8px;
    text-align: left;
}

tr:hover{background-color:cyan}
table, td, th {
    border: 1px solid black;
}
table{
  background-color:lightgrey;
}
.p1 {
    border-left: 10px solid red;
    border-right: 10px solid red;
    background-color: lightgrey;
    height:30px;
    width:100%;
    padding-top:5px;
    text-align:center;
}

</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>
                    Sanctioned Intake</h3></div><br>
            <table style="margin-left:90px background-color:red" class="table table-stripped" >
                <tr><p class="p1"><strong><marquee behavior="alternate">
                    Under Graduate - Direct Second Year Engineering Admission Intake</marquee></strong></p></tr>
                <tr>
                    <th style="background-color:orange; text-align:center">COURSE</th>
                    <th style="background-color:orange ;text-align:center">INTAKE</th>
                </tr>
                <tr>
                    <td>Civil Engineering(S.E. Direct Admissionn for Diploma Students)</td>
                    <td>60</td>
                </tr>
            </table>
            <br>
           <br>
        </div>
        <br><br>
        <div class="col-md-5">
            <br><br><br><br><br>
<div class="jumbotron">
                <h2>UG Admissions-SEDA</h2><hr>
                <ul>
                    <li><a class="two" href="../admission/sactioned_intake-dse">Sactioned Intake</a></li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/1.Eligibility_for_DSE_2016.pdf">Eligibility Criteria</a></li>
                    <li><a class="two" href="#">Admission Process</a></li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/3.Documents_Required_for_DSE_2016.pdf">Documents Required</a></li>
                    <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/4.DSEpdf%201617%20Information%20Brochure.pdf">Information Brochure</a></li>
                    <li><a class="two" href="http://localhost:63342/viit-webpage/src/dse%20in/Direct%20Second%20Year/DSE.html?_ijt=s8n42t9gq927gh0pj7v5dfckj0#">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/SE-D_FEE%20STRUCTURE%202016-17.pdf">DSE Fee Structure</a>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/HOSTEL%20FEE%20STRUCTURE_2016-17.pdf">HOSTEL Fee Structure</a>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

