<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   table {
    border-collapse: collapse;
    width:60%;
}
table,th, td {
    padding: 8px;
    text-align: left;
}

tr:hover{background-color:cyan}
table, td, th {
    border: 1px solid black;
}
table{
  background-color:lightgrey;
}

</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>
                    Sanctioned Intake</h3></div><br>
            <table style="margin-left:90px background-color:red " class="table table-stripped" >
                <tr><p style="text-align:center;background-color:orange;margin-bottom:0px">Under Graduate - First Year Engineering Admission Intake<p></tr>
                <tr>
                    <th style="background-color:orange; text-align:center">COURSE</th>
                    <th style="background-color:orange ;text-align:center">INTAKE</th>
                </tr>
                <tr>
                    <td>Civil Engineering</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Computer Engineering(First Shift)</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Computer Engineering(First Shift)</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Computer Engineering(Second Shift)</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Electronics & Telecommunication Engg.(First Shift)</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Electronics & Telecommunication Engg.(Second Shift)</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Information Technology</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Mechanical Engineering(First Shift)</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Mechanical Engineering(Second Shift)</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>600</strong></td>
                </tr>
            </table>
            <br>


            <table style="margin-left:90px background-color:red " class="table table-stripped" >
                <tr><p style="text-align:center;background-color:orange;margin-bottom:0px">Under Graduate - DIREECT Year Engineering Admission Intake<p></tr>
                <tr>
                    <th style="background-color:orange; text-align:center">COURSE</th>
                    <th style="background-color:orange ;text-align:center">INTAKE</th>
                </tr>
                <tr>
                    <td>Civil Engineering(S.E. Direct Admissionn for Diploma Students)</td>
                    <td>60</td>
                </tr>
            </table>
            <br>


            <table style="margin-left:90px background-color:red " class="table table-stripped" >
                <tr><p style="text-align:center;background-color:orange;margin-bottom:0px">post Graduate<p></tr>
                <tr>
                    <th style="background-color:orange; text-align:center">COURSE</th>
                    <th style="background-color:orange ;text-align:center">INTAKE</th>
                </tr>
                <tr>
                    <td><strong>Civil Engineering</strong><br>
                        <ul>
                            <li>Water Resources &Environmental Engineering</li>
                            <li>Structures</li>
                        </ul>
                    </td>
                    <td>
                        <ul style=" list-style-type: none;">
                            <br>
                            <li>18</li>
                            <li>18</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td><strong>Computer Engineering</strong></td>
                    <td>18</td>
                </tr>




                <tr>
                    <td><strong>Electronics & Telecommunication Engg.</strong><br>
                        <ul>
                            <li>Signal Processing</li>

                        </ul>
                    </td>
                    <td>
                        <ul style=" list-style-type: none;">
                            <br>
                            <li>18</li>

                        </ul>
                    </td>
                </tr>




                <tr>
                    <td><strong>Mechanical Engineering</strong><br>
                        <ul>
                            <li>Design</li>

                        </ul>
                    </td>
                    <td>
                        <ul style=" list-style-type: none;">
                            <br>
                            <li>18</li>

                        </ul>
                    </td>
                </tr>
            </table>




        </div>
        <br><br>
        <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>Undergraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="../admission/sanctioned_intake_fes">Sactioned Intake</a></li>
                    <li><a class="two" href="../admission/eligibility_criteria_fe">Eligibility Criteria</a></li>
                    <li><a class="two" href="../admission/admission_process_fe">Admission Process</a></li>
                    <li><a class="two" href="../admission/docs_required_fe">Documents Required</a></li>

                    <li><a class="two" href="http://localhost:63342/viit-webpage/First%20year%20Engg.html?_ijt=681rq0mdibei59b4s23g575s8m">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/FE_FEE%20STRUCTURE%202016-17.pdf">FE Fee Structure</a>
                            <li><a class="two" href="http://www.viit.ac.in/uploaded%20files/HOSTEL%20FEE%20STRUCTURE_2016-17.pdf">HOSTEL Fee Structure</a>
                        </ul>
                    </li>

                    <li><a class="two" href="#">Institute Level Admissions</a></li>
                    <li><a class="two" href="#">Supernumerary seats Admissions</a></li>
                    <li><a class="two" href="#">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

       
