<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   table {
    border-collapse: collapse;
    width:60%;
}
table,th, td {
    padding: 8px;
    text-align: left;
}

tr:hover{background-color:cyan}
table, td, th {
    border: 1px solid black;
}
table{
  background-color:lightgrey;
}

</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="page-header">
                <h3><img src="/home/rakif/Documents/fnf/logo-viit.png" height="50px" width="50px" alt="" align="middle" style="padding:20px"/>
                    Sanctioned Intake</h3></div><br>
            <table style="margin-left:90px background-color:red " class="table table-stripped" >
                <tr><p style="text-align:center;background-color:orange;margin-bottom:0px">Post Graduate Programme (M.E.)<p></tr>
                <tr>
                    <th style="background-color:orange; text-align:center">Programme Name</th>
                    <th style="background-color:orange ;text-align:center">Nature of Program</th>
                    <th style="background-color:orange ;text-align:center">Duration</th>
                    <th style="background-color:orange ;text-align:center">Intake</th>
                    <th style="background-color:orange ;text-align:center">	Year of Sanction</th>
                </tr>
                <tr>
                    <td>M. E. E & TC (Signal Processing)</td>
                    <td>Full Time</td>
                    <td>2 Years</td>
                    <td>18</td>
                    <td>2011-12</td>
                </tr>
                <tr>
                    <td>M. E. Civil Engg(Water Resources And Environmental Engg.)</td>
                    <td>Full Time</td>
                    <td>2 Years</td>
                    <td>18</td>
                    <td>2012-13</td>
                </tr>
                <tr>
                    <td>M. E. Mechanical Engg(Design)</td>
                    <td>Full Time</td>
                    <td>2 Years</td>
                    <td>18</td>
                    <td>2011-12</td>
                </tr>
                <tr>
                    <td>M. E. Computer Engg.</td>
                    <td>Full Time</td>
                    <td>2 Years</td>
                    <td>18</td>
                    <td>2013-14</td>
                </tr>
                <tr>
                    <td>M. E. Civil Engg(Structures)</td>
                    <td>Full Time</td>
                    <td>2 Years</td>
                    <td>18</td>
                    <td>2013-14</td>
                </tr>

            </table>
            <br>

            </table>




        </div>
        <br><br>
        <div class="col-md-5">
            <br><br><br><br><br>
            <div class="jumbotron">
                <h2>Undergraduate Admissions</h2><hr>
                <ul>
                    <li><a class="two" href="#">Sactioned Intake</a></li>
                    <li><a class="two" href="#">Documents Required</a></li>

                    <li><a class="two" href="#">Fee Structure</a>
                        <ul>
                            <li><a class="two" href="#">ME Fee Structure</a>

                        </ul>
                    </li>
                    <li><a class="two" href="#">Brochure</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>

